{% load static %}
<script src="{% static '/jquery/ajax.js' %}"></script>
<script src="{% static '/jquery/jquery.min.js' %}"></script>
<script src="{% static '/jquery/jqueryui.js' %}"></script>
<script src="{% static '/base/toggleColumn.js' %}"></script>
<script src="{% static '/build/js/orgChart.js' %}"></script>
<script src="{% static 'build/js/driver.js' %}"></script>
<script src="{% static 'build/js/clearFilter.js' %}"></script>
<script src="{% static '/jquery/alpine.min.js' %}"></script>
{% block header_scripts %}
{% endblock header_scripts %}
