{% extends 'settings.html' %} {% block settings %}{% load i18n %} {% load horillafilters %}
<div class="border border-[#ebebeb] rounded-md  overflow-hidden mb-5">
    <h5 class="text-sm font-semibold bg-[#f3f3f3] px-4 py-3 text-[#333]">
        {% trans 'Candidate Self Tracking' %}
    </h5>
    <div class="p-4">
        <div class="grid grid-cols-12 gap-4 myform">
            <div class="col-span-12 lg:col-span-6">
                <div class="flex items-center justify-between mb-4">
                    <div class="flex space-x-2">
                    <h3 class="text-sm font-medium"> {% trans "Application Tracking" %}</h3>
                    <span class="oh-info mr-2" title="{% trans "By enabling the feature candidates can track their recruitment progress" %}">
                    </span>
                </div>
                    <label class="toggle-label">
                        <input type="checkbox" data-target="#limitFields"  class="toggle-input" name="candidate_self_tracking" onchange="selfTrack($(this))" {% if check_candidate_self_tracking %} checked {% endif %} />
                        <div class="toggle-switch"></div>
                    </label>
                </div>
                </div>
                <div class="col-span-12 lg:col-span-6">

                <div class="flex items-center justify-between mb-4">
                    <div class="flex space-x-2">
                    <h3 class="text-sm font-medium"> {% trans "Rating Visiblity" %}</h3>
                    <span class="oh-info mr-2" title="{% trans "By enabling the feature candidates can view their recruitment overall rating" %}">
                    </span>                    </div>
                    <label class="toggle-label">
                        <input type="checkbox"  data-target="#limitFields" class="toggle-input" name="candidate_self_tracking" onchange="ratingVisibility($(this))" {% if check_candidate_self_tracking_rating %} checked {% endif %} />
                        <div class="toggle-switch"></div>
                    </label>

                </div>
                </div>

        </div>
    </div>
</div>
<button id="selfTrackButton" hx-get="{% url 'candidate-self-tracking' %}" hx-target="#reloadMessages" hidden>
</button>
<button id="ratingButton" hx-get="{% url 'candidate-self-tracking-rating-option' %}" hx-target="#reloadMessages" hidden>
</button>
<script>
    function selfTrack(element){
        var value = $(element).is(':checked')
        $('#selfTrackButton').attr('hx-vals', `{"candidate_self_tracking":${value}}`);
        $('#selfTrackButton').click()
    }
    function ratingVisibility(element){
        var value = $(element).is(':checked')
        $('#ratingButton').attr('hx-vals', `{"candidate_self_tracking":${value}}`);
        $('#ratingButton').click()
    }
</script>
{% endblock settings %}
