.oh-announcement_feed-card {
    background-color: $white-color;
    padding: 1.3rem;
    margin: 0.75rem auto;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
    max-width: 75%;
}

.oh-announcement-headline {
    font-weight: bold;
}
.oh-annpouncement_profile--name{
    font-size: 1.2rem;
}

.oh-announcement-timing {
    font-size: 0.85rem;
    opacity: 0.8;
    margin-top: 0.2rem;
}

.oh-announcement_header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $border-light-color;

}

.oh-announcement-body {
    margin: 1rem 0;
}

.oh-announcement_text {
    line-height: 1.6rem;
}

.oh-announcement-hastag__container {
    margin: 1rem 0;
}

.oh-announcement-hashtags {
    display: flex;
    align-items: center;
    gap: 0.7rem;
    flex-wrap: wrap;
    margin-top: 0.2rem;
}

.oh-announcement__tags {
    color: $light-text-color;
    font-size: 0.8rem;
    font-style: italic;
}

.oh-announcement-img_container {
    width: 100%;
    height: 400px;
    border-radius: 4px;
    overflow: hidden;

}

.oh-posted_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.oh-announcement__comment-view {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: 0.5rem;
}

.oh-announcement_attachmenent {

    border: none;
    padding: 0.5rem 0 0.5rem 0.75rem;
}

.oh-announcement-btn:hover {
    color: $secondary-color;
}

@media (max-width:768px) {
    .oh-announcement_topbar {
        flex-direction: row;
    }
}
