
.oh-auth{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    min-height: calc(100vh - 4rem);
    margin-top: 2rem;
    margin-bottom: 2rem;
    @media (max-width: 767.98px) {
        align-items: center;
        height: 100%;
        margin-top: 2rem;
    }
}
.oh-auth-card{
    background-color: $white;
    width: 90%;
    max-width: 450px;
    padding: 2.5rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;

    @media (max-width: 767.98px) {
        padding: 1.5rem;
    }
}
