.oh-profile-section {
  background-color: $white;
  border: 1px solid $border-color;
  padding: 1.25rem;
}
.oh-profile-section__sidebar {
  height: 100%;
  border-right: 1px solid $border-color;
}
.oh-profile-section__sidebar-items {
  padding-left: 0px;
  list-style-type: none;
}
.oh-profile-section__sidebar-item {
  padding: 0.75rem 0;
}
.oh-profile-section__sidebar-item--active {
  border-right: 4px solid $secondary-color;
}
.oh-profile-section__sidebar-link {
  &:hover,
  &:focus,
  &:focus-visible {
    text-decoration: none;
  }
}
.oh-profile-section__edit-photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  transition: all 0.4s ease-in-out;

  &:hover {
    &::after {
      content: "Edit";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 30px;
      display: flex;
      justify-content: center;
      color: $white;
      background: rgba($black, 0.6);
      padding: 0.25rem;
      transition: all 0.4s ease-in-out;
    }
  }
}
.oh-profile-section__avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.oh-profile-section__topbar{
  @media (max-width: 767.98px) {
    flex-direction: row !important;
  }
  @media (max-width: 575.98px) {
    padding-bottom: 0.75rem;
    flex-direction: column !important;
    .oh-profile-section__tab{
      margin-top: 1.5rem;
    }
  }
}
.oh-profile-section__modal-avatar{
  width: 180px;
  height: 180px;
  border-radius: 50%;
  overflow: hidden;
  @media (max-width: 767.98px) {
    max-width: 100px;
    height: 100px;
  }
}
.oh-profile-section__modal-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.oh-profile-section__image-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} 