.oh-survey__table-row {
    display: flex;
    border-bottom: 1px solid $border-light-color;

    &:last-child {
        border-bottom: none;
    }
}

.oh-survey__table-row {
    &:hover {
        border-bottom: 1px solid $secondary-color;

        .oh-survey__table-col {
            background-color: $light-grey;
        }
    }
}

.oh-survey__table-col {
    width: 100%;
    min-height: 45px;
    padding: 25px 25px 25px 10px;
    line-height: 1.75rem;

    &:last-child {
        color: $light-text-color;
    }
}

.drag-handle {
    width: 1.2rem;
    height: auto;
    margin-right: 0.2rem;

    img {
        width: 100%;

    }
}

.oh-survey-ques {
    .oh-card {
        margin-top: 1rem;
        box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.12);
        border: none;
        border-radius: 6px;
        cursor: grabbing;
        padding-left: 0.9rem;
    }

    .oh-label--question {
        margin-top: 0px;
        margin-bottom: 1rem;
    }

    .oh-rate {
        height: auto;
    }

    .oh-input {
        border: 1px solid $border-light-color;
        border-radius: 4px;
    }

    .select2-container--default {
        .select2-selection--multiple {
            border: 1px solid $border-light-color !important;
            border-radius: 4px !important;
        }
    }
}

.oh-survey_page {
    background-color: hsl(7.98deg 76.89% 55.88% / 4%);
}

.oh-badge_count {
    background-color: hsl(8, 77%, 56%);
    color: white;
    border-radius: 30px;
    min-width: 20px;
    min-height: 20px;
    padding: 0.2rem 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
}

.oh-badge--small {
    margin-top: 0px !important;
    min-width: 20px !important;
    min-height: 20px !important;
    display: flex !important;
    font-size: 0.7rem !important;
    align-items: center !important;
    /* line-height: 0; */
    width: fit-content;
    justify-content: center !important;
    padding: 0.1rem 0.5rem;
    height: fit-content;
    border-radius: 30px;

}
