{% load static %}
{% load i18n %}
{% load basefilters %}
{% if perms.attendance.add_attendance or request.user|is_reportingmanager %}

<div
  class="oh-modal"
  id="addAttendance"
  role="dialog"
  aria-labelledby="addAttendance"
  aria-hidden="true"
>
  <div class="oh-modal__dialog">
    <div class="oh-modal__dialog-header">
      <h2 class="oh-modal__dialog-title" id="addEmployeeModalLabel">
        {% trans "Add Attendances" %}
      </h2>
      <button
        class="oh-modal__close"
        aria-label="Close"
        
      >
        <ion-icon name="close-outline"></ion-icon>
      </button>
    </div>
    <div class="oh-modal__dialog-body" id="addAttendanceModalBody"></div>
  </div>
</div>
{% endif %}

<section class="oh-wrapper oh-main__topbar" x-data="{searchShow: false}">
  <div class="oh-main__titlebar oh-main__titlebar--left">
    <h1 class="oh-main__titlebar-title fw-bold">
      <a href="{% url 'attendance-view' %}" class="text-dark"> {% trans "Attendances" %} </a>
    </h1>
    <a
      class="oh-main__titlebar-search-toggle"
      role="button"
      aria-label="Toggle Search"
      @click="searchShow = !searchShow"
    >
      <ion-icon
        name="search-outline"
        class="oh-main__titlebar-serach-icon"
      ></ion-icon>
    </a>
  </div>
  <div class="oh-main__titlebar oh-main__titlebar--right">
    <div
      class="oh-input-group oh-input__search-group"
      :class="searchShow ? 'oh-input__search-group--show' : ''"
    >
      <ion-icon
        name="search-outline"
        class="oh-input-group__icon oh-input-group__icon--left"
      ></ion-icon>
      <input
        type="text"
        class="oh-input oh-input__icon"
        aria-label="Search Input"
        id="attendance-search"
        name="search"
        placeholder="{% trans 'Search' %}"
        hx-get="{% url 'attendance-search' %}"
        hx-trigger="keyup changed delay:500ms, search"
        hx-target="#tab_contents"
        hx-swap="innerHTML"
      />
    </div>
    <div class="oh-main__titlebar-button-container">
      <div class="oh-dropdown" x-data="{open: false}">
        <button class="oh-btn ml-2" @click="open = !open">
          <ion-icon name="filter" class="mr-1"></ion-icon>{% trans "Filter" %}
        </button>
        <div
          class="oh-dropdown__menu oh-dropdown__menu--right oh-dropdown__filter p-4"
          x-show="open"
          @click.outside="open = false"
          style="display: none;"
        >
          {% include 'attendance/attendance/attendance_filters.html' %}
        </div>
      </div>
      <div class="oh-dropdown ml-2" x-data="{open: false}">
        <button
          class="oh-btn oh-btn--dropdown"
          @click="open = !open"
          @click.outside="open = false"
        >
          {% trans "Actions" %}
        </button>
        <div class="oh-dropdown__menu oh-dropdown__menu--right" x-show="open" style="display: none;">
          <ul class="oh-dropdown__items">
            {% if perms.attendance.change_attendance or request.user|is_reportingmanager %}
            <li class="oh-dropdown__item">
              <a href="#" id="validateAttendances" class="oh-dropdown__link"
                >{% trans "Validate" %}</a
              >
            </li>
            {% endif %} {% if perms.attendance.change_attendance or request.user|is_reportingmanager %}
            <li class="oh-dropdown__item">
              <a href="#" id="approveOt" class="oh-dropdown__link">{% trans "Approve OT" %}</a
              >
            </li>
            {% endif %} {% if perms.attendance.delete_attendance %}
            <li class="oh-dropdown__item">
              <a href="#" id="bulkDelete" class="oh-dropdown__link oh-dropdown__link--danger" >{% trans "Delete" %}</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
      {% if perms.attendance.add_attendance or request.user|is_reportingmanager%}
      <button
        class="oh-btn oh-btn--secondary ml-2"
        data-toggle="oh-modal-toggle"
        data-target="#addAttendance"
        hx-get="{% url 'attendance-create' %}"
        hx-target="#addAttendanceModalBody"
      >
        <ion-icon name="add-sharp" class="mr-1"></ion-icon>{% trans "Create" %}
      </button>
      {% endif %}
    </div>
  </div>
  <script>
    $("#attendance-search").keydown(function (e) {
      var val = $(this).val();
      $(".pg").attr("hx-vals", `{"search":${val}}`);
    });
  </script>
</section>
