{% load i18n %}
<div class="oh-dropdown" x-data="{open: false}">
  <button class="oh-btn oh-btn--secondary" @click="open = !open">
    <ion-icon class="me-1" name="add-outline"></ion-icon>{% trans 'Recruitment' %}
  </button>
  <div
    class="oh-dropdown__menu oh-dropdown__menu--right oh-dropdown__filter p-4"
    x-show="open"
    @click.outside="open = false"
    style="display: none;"
  >
    <form action="" class="" method="post">
      {% csrf_token %}
      <div class="oh-input-group">
        <label for="desc" class="oh-label">{% trans 'Title' %} *</label>
        {{recruitment_form.title.errors}}
        {{recruitment_form.title}}
      </div>
      <div class="oh-input-group">
        <label for="desc" class="oh-label">{% trans 'Is Event Based?' %}</label>
        {{recruitment_form.is_event_based}}
      </div>
      <div class="oh-input-group" id="openPositionContainer">
        <label for="desc" class="oh-label">{% trans 'Open Job Positions' %}</label>
        {{recruitment_form.open_positions.errors}}
        {{recruitment_form.open_positions}}
      </div>
      <script>
        $(document).ready(function () {
          $("#openPositionContainer").hide();
          $("#addRecruitmentButton").click(function (e) {
            if ($("#id_description").val() === "") {
              e.preventDefault();
              $("#descriptionError").show();
              $("#descriptionError").text("{% trans 'Description is required.' %}");
              $("#id_description").addClass("oh-input--error");
            }
          });
          $("#id_is_event_based").change(function (e) { 
            e.preventDefault();
            $("#openPositionContainer").toggle();
            $("#jobPositionContainer").toggle();
          });
        });
      </script>
      <div class="oh-input-group">
        <label for="desc" class="oh-label">{% trans 'Description' %} *</label>
        {{recruitment_form.description}}
        {{recruitment_form.description.errors}}
      </div>
      <ul class="errorlist" id="descriptionError" style="display: none;"></ul>
      <div class="oh-input-group" id="jobPositionContainer">
        <label for="job-position" class="oh-label">{% trans 'Job Position' %} *</label>
        {{recruitment_form.job_position_id}}
        {{recruitment_form.job_position_id.errors}}
      </div>
      <div class="oh-input-group">
        <label for="vacancy" class="oh-label">{% trans 'Vacancy' %}</label>
        {{recruitment_form.vacancy}}
        {{recruitment_form.vacancy.errors}}
      </div>
      <div class="oh-input-group">
        <label for="recruitment-manager" class="oh-label"
          >{% trans 'Recruitment Manager' %} *</label
        >
        {{recruitment_form.recruitment_managers}}
        {{recruitment_form.recruitment_managers.errors}}
      </div>

      <div class="row">
        <div class="col-12 col-sm-12 col-md-6">
          <div class="oh-input-group">
            <label for="startDate" class="oh-label">{% trans 'Start Date' %}</label>
            {{recruitment_form.start_date}}
            {{recruitment_form.start_date.errors}}
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6">
          <div class="oh-input-group">
            <label for="endDate" class="oh-label">{% trans 'End Date' %}</label>
            {{recruitment_form.end_date}}
            {{recruitment_form.end_date.errors}}
          </div>
        </div>
        <input type="checkbox" name="is_active" id="" checked hidden />
      </div>
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12">
          <div class="oh-input-group">
            <label for="startDate" class="oh-label">{% trans 'Company' %}</label>
            {{recruitment_form.company_id}}
            {{recruitment_form.company_id.errors}}
          </div>
        </div>
        <input type="checkbox" name="is_active" id="" checked hidden />
      </div>
      <div class="oh-input-group d-flex align-items-center mt-3"></div>

      <button
        type="submit"
        class="oh-btn oh-d-hide oh-btn--small oh-btn--secondary oh-btn--add-advanced-tab w-100 mt-3 mb-2"
        id="addRecruitmentButton"
      >
        <ion-icon class="me-1" name="add-circle-outline"></ion-icon>
        {% trans 'Add Recruitment' %}
      </button>
    </form>
  </div>
</div>
