{% load i18n %}
{% load widget_tweaks %}
{% load recruitmentfilters %}

<div class="oh-dropdown" x-data="{open: false}">

  <button class="oh-btn oh-btn--secondary " @click="open = !open">
    <ion-icon class="me-1" name="add-outline"></ion-icon>{% trans "Stage" %}
  </button>
  <div
    class="oh-dropdown__menu oh-dropdown__menu--left oh-dropdown__filter p-4"
    x-show="open"
    @click.outside="open = false"
  >
    <form action="" class="stage-drop-form" method="post">
      {% csrf_token %}
      <div class="oh-input-group">
        <label for="desc" class="oh-label">{% trans "Stage" %}</label>
        {{stage_form.stage}}
      </div>
      <div class="oh-input-group">
        <label for="job-position" class="oh-label">{% trans "Stage Type" %}</label>
        {{stage_form.stage_type|generate_id:"stage"}}
      </div>
      <div class="oh-input-group" id='stage_manager'>
        <label for="job-position" class="oh-label">{% trans "Stage Manager" %}</label>
        {{stage_form.stage_managers|generate_id:"stage"}}
        <ul id="error-list" class="errorlist" style="display: none">
          <li>This field is requied.</li>
        </ul>
      </div>
      <input type="hidden" name="recruitment_id" value="{{rec.id}}" />

      <button
        type="submit"
        class="oh-btn oh-d-hide oh-btn--small oh-btn--secondary oh-btn--add-advanced-tab w-100 mt-3 mb-2"
        onclick="validateForm(event)"
      >
        <ion-icon class="me-1" name="add-circle-outline"></ion-icon>
        {% trans "Add Stage" %}
      </button>
    </form>
  </div>
</div>

<script>
  function validateForm(event) {
    var stage_manager = $("#stage_manager");
    var errorList = stage_manager.find("#error-list")
    var select = stage_manager.children("select")
    if (select.val().length==0) {
      errorList.show(); // Show error message
    } else {
      errorList.hide();// Hide error message
    }
  }
</script>