{% load i18n basefilters %}

<div class="oh-sticky-table__right" onclick="event.stopPropagation();">
	<div class="flex items-center justify-center gap-1">
		<form
			action="{% url 'payslip-pdf' instance.id %}"
			method="post"
		>
			{% csrf_token %}
			<button
				type="submit"
				title="{% trans 'Download' %}"
				class="oh-btn oh-btn--light-bkg oh-btn--sq-sm"
			>
				<ion-icon name="download"></ion-icon>
			</button>
		</form>
		{% if perms.payroll.add_payslip %}
			<button
				hx-confirm="{% trans 'Do you want to sent the payslip by mail?' %}"
				hx-get="{% url 'send-slip' %}?id={{instance.id}}"
				hx-target="#listContainer"
				title="{% trans 'Send via mail' %}"
				type="button"
				{% if instance.sent_to_employee %}
					class="oh-btn sent-to-employee oh-btn--sq-sm"
				{% else %}
					class="oh-btn oh-btn--light-bkg oh-btn--sq-sm"
				{% endif %}
			>
				<ion-icon name="mail-outline"></ion-icon>
			</button>
		{% endif %}

		{% if perms.payroll.delete_payslip %}
			<button
				hx-confirm="{% trans 'Are you sure you want to delete this payslip?' %}"
				hx-post="{% url 'delete-payslip' instance.id %}"
				hx-target="#listContainer"
				class="oh-btn oh-btn--danger oh-btn--sq-sm"
				title="{% trans 'Remove' %}"
			>
				<ion-icon name="trash-outline"></ion-icon>
			</button>
		{% endif %}
	</div>
</div>
