{% load static %}{% load i18n %}
<div class="oh-wrapper-main">
  <main :class="sidebarOpen ? 'oh-main__sidebar-visible' : ''">
    <div class="oh-wrapper">
      <div class="oh-404">
        <img
          style="width: 150px; height: 150px"
          src="{% static 'images/ui/no_request.png' %}"
          class="oh-404__image mb-4"
        />
        <h5 class="oh-404__subtitle">
          {% trans "There are currently no employees assigned to rotating shifts to be considered." %}
        </h5>
      </div>
    </div>
  </main>
</div>
