{% load i18n %} {% load static %}
<div class="oh-dropdown__filter-body">
  <div class="oh-accordion">
    <div class="oh-accordion-header">{% trans 'Recruitment' %}</div>
    <div class="oh-accordion-body">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6">
          <div class="oh-input-group">
            <label
              class="oh-label"
              for="{{rec_filter_obj.form.recruitment_managers.id_for_label}}"
              >{% trans 'Managers' %}</label
            >
            {{ rec_filter_obj.form.recruitment_managers }}
          </div>
          <div class="oh-input-group">
            <label
              class="oh-label"
              for="{{rec_filter_obj.form.start_date.id_for_label}}"
              >{% trans 'Start Date' %}</label
            >
            {{ rec_filter_obj.form.start_date }}
          </div>
          <div class="oh-input-group">
            <label
              class="oh-label"
              for="{{rec_filter_obj.form.start_from.id_for_label}}"
              >{% trans 'Start Date From' %}</label
            >
            {{ rec_filter_obj.form.start_from }}
          </div>
          <div class="oh-input-group">
            <label
              class="oh-label"
              for="{{rec_filter_obj.form.closed.id_for_label}}"
              >{% trans 'Is Closed' %}</label
            >
            {{ rec_filter_obj.form.closed }}
          </div>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-6">
          <div class="oh-input-group">
            <label
              class="oh-label"
              for="{{rec_filter_obj.form.company_id.id_for_label}}"
              >{% trans 'Company' %}</label
            >
            {{ rec_filter_obj.form.company_id }}
          </div>
          <div class="oh-input-group">
            <label
              class="oh-label"
              for="{{rec_filter_obj.form.end_date.id_for_label}}"
              >{% trans 'End Date' %}</label
            >
            {{ rec_filter_obj.form.end_date }}
          </div>
          <div class="oh-input-group">
            <label
              class="oh-label"
              for="{{rec_filter_obj.form.end_till.id_for_label}}"
              >{% trans 'Till End Date' %}</label
            >
            {{ rec_filter_obj.form.end_till }}
          </div>
          <div class="oh-input-group">
            <label
              class="oh-label"
              for="{{rec_filter_obj.form.is_published.id_for_label}}"
              >{% trans 'Is Published' %}</label
            >
            {{ rec_filter_obj.form.is_published }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="oh-dropdown__filter-body">
  <div class="oh-accordion">
    <div class="oh-accordion-header">{% trans 'Stage' %}</div>
    <div class="oh-accordion-body">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6">
          <div class="oh-input-group">
            <label class="oh-label">{% trans 'Recruitment' %}</label>
            {{ stage_filter_obj.form.recruitment_id }}
          </div>
          <div class="oh-input-group">
            <label class="oh-label">{% trans 'Stage Type' %}</label>
            {{ stage_filter_obj.form.stage_type }}
          </div>
        </div>

        <div class="col-sm-12 col-md-12 col-lg-6">
          <div class="oh-input-group">
            <label class="oh-label">{% trans 'Stage Managers' %}</label>
            {{ stage_filter_obj.form.stage_managers }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="oh-dropdown__filter-body">
  <div class="oh-accordion">
    <div class="oh-accordion-header">{% trans 'Candidates' %}</div>
    <div class="oh-accordion-body">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-6">
          <div class="oh-input-group">
            <label class="oh-label">{% trans 'Country' %}</label>
            <select
              name="country"
              class="oh-select-2 w-100 country"
              id="country"
            ></select>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-12 mb-2">
            <div class="oh-input-group">
              <label class="oh-label">{% trans 'Reject Reason' %}</label>
              {{ candidate_filter_obj.form.rejected_candidate__reject_reason_id }}
            </div>
            <div class="oh-input-group">
              <label class="oh-label">{% trans 'Is Hired' %}</label>
              {{ candidate_filter_obj.form.hired }}
            </div>
            <div class="oh-input-group">
              <label class="oh-label">{% trans 'Gender' %}</label>
              {{ candidate_filter_obj.form.gender }}
            </div>
            <div class="oh-input-group">
              <label class="oh-label">{% trans 'Job Position' %}</label>
              {{ candidate_filter_obj.form.job_position_id }}
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-6">
          <div class="oh-input-group">
            <label class="oh-label">{% trans 'State' %}</label>
            <select
              name="state"
              class="oh-select-2 w-100 country"
              id="state"
            ></select>
          </div>
          <div class="oh-input-group">
            <label class="oh-label">{% trans 'Offer Status' %}</label>
            {{ candidate_filter_obj.form.offer_letter_status }}
          </div>
          <div class="oh-input-group">
            <label class="oh-label">{% trans 'Is Canceled' %}</label>
            {{ candidate_filter_obj.form.canceled }}
          </div>
          <div class="oh-input-group">
            <label class="oh-label">{% trans 'Rating' %}</label>
            {{ candidate_filter_obj.form.candidate_rating__rating }}
          </div>
          <div class="oh-input-group">
            <label class="oh-label">{% trans 'Department' %}</label>
            {{ candidate_filter_obj.form.job_position_id__department_id }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="oh-dropdown__filter-footer">
  <button
    class="oh-btn oh-btn--secondary oh-btn--small w-100 filterButton"
    id=""
  >
    {% trans 'Filter' %}
  </button>
</div>
<script src="{% static '/base/filter.js' %}"></script>
<script>
  {% include "country.js" %}
</script>
