# Python
__pycache__/
*.py[cod]
*.so

# Environments
.env
.venv/
venv/
env/

# VCS
.git/
.gitignore

# OS files
.DS_Store

# Node
node_modules/

# Django static/media
staticfiles/
media/

# Bytecode & caches
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Docker
.wheels/
