[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
apscheduler = "*"
arabic-reshaper = "*"
asgiref = "*"
asn1crypto = "*"
bs4 = "*"
certifi = "*"
cffi = "*"
chardet = "*"
charset-normalizer = "*"
click = "*"
cryptography = "*"
cssselect2 = "*"
django = "==4.2.23"
django-auditlog = "*"
django-apscheduler = "*"
django-cors-headers = "*"
django-environ = "*"
django-filter = "*"
django-haystack = "*"
django-import-export = "*"
django-jsonfield = "*"
django-mathfilters = "*"
django-microsoft-auth = "*"
django-model-utils = "*"
django-simple-history = "*"
django-widget-tweaks = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
drf-yasg = "*"
et-xmlfile = "*"
geopy = "*"
google-api-python-client = "*"
google-cloud-storage = "==3.0.0"
html5lib = "*"
jinja2 = "*"
idna = "*"
lxml = "*"
numpy = "*"
oauthlib = "*"
openpyxl = "*"
oscrypto = "*"
pandas = "*"
pdfkit = "*"
pillow = "*"
pycparser = "*"
pyhanko = "*"
pyhanko-certvalidator = "*"
pymupdf = "==1.24.5"
pypdf = "*"
pypng = "*"
python-bidi = "*"
python-dateutil = "*"
pytz = "*"
pyyaml = "*"
pyzk = "==0.9"
qrcode = "*"
reportlab = "==4.0.9"
requests = "*"
responses = "*"
six = "*"
sqlparse = "*"
svglib = "*"
swapper = "*"
tinycss2 = "*"
typing-extensions = "*"
tzdata = "*"
tzlocal = "*"
uritools = "*"
urllib3 = "*"
utils = "*"
webencodings = "*"
whoosh = "*"
xhtml2pdf = "*"
xlsxwriter = "*"
gunicorn = "*"
psycopg2-binary = "*"
whitenoise = "*"
django-storages = "*"

[dev-packages]

[requires]
python_version = "3.13"
