{% load i18n static %}

<div class="border border-[#ebebeb] rounded-md mb-5">
    <div hx-get="{% url 'action-type-nav' %}" hx-trigger="load"></div>

    <p class="text-xs text-gray-500 mt-1 ml-2">
        {% trans "Define disciplinary action types used when recording employee incidents." %}
    </p>

    <div
        class="oh-checkpoint-badge mb-2"
        id="selectedInstances"
        data-ids="[]"
        data-clicked=""
        style="display: none"
    >
    </div>

    <div class="oh-wrapper" id="listContainer">
        <div class="animated-background"></div>
    </div>
</div>

<script src="{% static 'cbv/deleteFunc.js' %}"></script>
