<div class="oh-btn-group">
	<a
		hx-get="{% url 'edit-allowed-ip' %}?id={{instance.pk}}"
		hx-target="#objectDetailsModalW25Target"
		data-toggle="oh-modal-toggle"
		data-target="#objectDetailsModalW25"
		type="button"
		class="oh-btn oh-btn--light-bkg w-50"
		title="Edit"
	>
		<ion-icon
			name="create-outline"
			role="img"
			class="md hydrated"
			aria-label="create outline"
		></ion-icon
	></a>
	<form
		action="{% url 'delete-allowed-ip' %}?id={{instance.pk}}"
		class="w-50"
		onsubmit="return confirm('Are you sure you want to delete this IP ?');"
		method="post"
	>
		{% csrf_token %}
		<button
			type="submit"
			class="oh-btn oh-btn--danger-outline oh-btn--light-bkg w-100"
			title="Remove"
		>
			<ion-icon
				name="trash-outline"
				role="img"
				class="md hydrated"
				aria-label="trash outline"
			></ion-icon>
		</button>
	</form>
</div>
