{% load static %}
{% load generic_template_filters %}
<div
    class="modal-box px-5 bg-white w-full max-w-md md:min-w-[700px] rounded-lg shadow-card p-0 transition-all duration-300 opacity-100 scale-100"
>
    <div class="p-5" id="detailViewContainer">
        <div class="flex justify-between items-center mb-2">
            <h2 class="text-md font-semibold">{{ title }}</h2>
            <button class="text-gray-500 hover:text-red-500 text-xl static oh-modal__close oh-modal__close--custom"
                onclick="$(this).closest('.oh-modal--show').removeClass('oh-modal--show');">
                <img src="{% static 'horilla_theme/assets/icons/close.svg' %} " alt="" />
            </button>
        </div>
        {% if header %}
            <div class="flex items-center gap-5 mb-5" {{header.attrs|format:object|safe}} >
                {% if header.avatar %}
                    <div>
                        <img src="{{object|getattribute:header.avatar}}" alt="" class="w-[50px] h-[50px] rounded-full" />
                    </div>
                {% endif %}
                <div>
                    <p class="mb-1 text-sm font-semibold">
                        {{ object|getattribute:header.title|selected_format:request.user.employee_get.employee_work_info.company_id }}
                    </p>
                    <p class="text-xs text-[#666]">
                        {{ object|getattribute:header.subtitle|selected_format:request.user.employee_get.employee_work_info.company_id }}
                    </p>
                </div>
            </div>
        {% endif %}

        <div class="grid grid-cols-1 md:grid-cols-12 gap-3 mb-5 mt-5">
            {% for col in body %}
                {% if not col.2 %}
                    <div class="col-span-1 md:col-span-{{ cols|get_item:col.1|default:6 }} mb-2 flex gap-5">
                        <span class="font-medium text-xs text-[#565E6C] w-32">
                            {{ col.0 }}
                        </span>
                        <div class="text-xs font-semibold flex gap-5">
                            : <span>
                                {{ object|getattribute:col.1|selected_format:request.user.employee_get.employee_work_info.company_id|safe }}
                            </span>
                        </div>
                    </div>
                {% else %}
                    <div class="col-span-1 md:col-span-{{ cols|get_item:col.1|default:6 }}">
                        {{ object|getattribute:col.1|safe }}
                    </div>
                {% endif %}
            {% endfor %}
        </div>

        {% comment %} {% for col in body %}
            {% if col.2 %}
                <div>
                    {{ object|getattribute:col.1|safe }}
                </div>
            {% endif %}
        {% endfor %} {% endcomment %}

        <div class="m-3 " id="enlargeattachmentContainer"></div>
        <div class="flex flex-wrap justify-between gap-2 md:gap-1">
            {% if actions or action_method %}
                <div class="flex gap-1">
                    {% if actions and not action_method %}
                        <div class="oh-btn-group">
                        {% for action in actions %}
                            <a {{action.attrs|format:object|safe}}>
                                {% if action.icon|is_image_file %}
                                    <img src="{% static 'horilla_theme/assets/img/icons/' %}{{ action.icon }}" width="13" alt="{{ action.action }}" class="filter brightness-0 invert">
                                {% else %}
                                    <ion-icon name="{{ action.icon }}"></ion-icon>
                                {% endif %}
                                {{action.action}}
                            </a>
                        {% endfor %}
                        </div>
                    {% else %}
                        {{object|getattribute:action_method|safe}}
                    {% endif %}
                </div>
            {% endif %}
            {% if instance_ids %}
                <div class="flex gap-1 ml-auto">
                    <button data-action="previous"
                        hx-get="{{ previous_url }}?{{ ids_key }}={{ instance_ids }}{% if extra_query %}&{{ extra_query }}{% endif %}"
                        hx-on:click="$('#detailViewContainer').toggleClass('animate-pulse');" hx-target="#genericModalBody"
                        class="p-2 w-8 h-8 justify-center bg-primary-600 text-white rounded-full text-xs flex items-center gap-2 hover:bg-primary-800 transition duration-300">
                        <i class="fa-solid fa-angle-left"></i>
                    </button>
                    <button data-action="next"
                        hx-get="{{ next_url }}?{{ ids_key }}={{ instance_ids }}{% if extra_query %}&{{ extra_query }}{% endif %}"
                        hx-target="#genericModalBody" hx-on:click="$('#detailViewContainer').toggleClass('animate-pulse');"
                        class="p-2 w-8 h-8 justify-center bg-primary-600 text-white rounded-full text-xs flex items-center gap-2 hover:bg-primary-800 transition duration-300">
                        <i class="fa-solid fa-angle-right"></i>
                    </button>
                </div>
            {% endif %}
        </div>
    </div>
</div>
