{% load i18n %}
{% csrf_token %}
<div class="oh-inner-sidebar-content__header mt-4">
    <h2 class="oh-inner-sidebar-content__title">{% trans 'Employee Account Block/Unblock' %}</h2>
</div>
<form action="{% url 'enable-account-block-unblock' %}" method="post">
    {% csrf_token %}
  <div class="oh-label__info" for="enable_block_unblock">
    <label class="oh-label" for="enable_block_unblock">{% trans "Restrict Login Account" %}</label>
    <span class="oh-info mr-2" title="{% trans "By enabling this feature, you can block or unblock an employee's account." %}">
    </span>
  </div>
  <div class="oh-switch p-3">
    <input type="checkbox"class="oh-switch__checkbox" name="enable_block_account" onchange="$(this).closest('form').find('input[type=submit]').click()" {% if enabled_block_unblock %} checked{% endif %} />
  </div>
  <input type="submit" hidden />
</form>
<div class="oh-inner-sidebar-content__footer"></div>
