{% load static i18n recruitmentfilters %}
	<div
			class="oh-kanban__section-body ui-sortable candidate-container hx-sortable min-h-[calc(100%_-_100px)]"
			data-stage-id="{{stage.id}}"
			data-recruitment-id="{{rec.id}}"
			hx-get="{% url 'candidate-card-cbv' %}?{{request.GET.urlencode}}&rec_id={{rec_id}}"
			hx-trigger="load"
			id="kanbanCandidates{{stage.id}}"
		>
			<div
				class="animated-background"
				ondrop="event.stopPropagation()"
				ondrag="event.stopPropagation()"
			></div>
		{% comment %} </div>
<script>
	$(document).on("htmx:afterSettle", function (event) {
		$(document).off("click.dropdown");
		$(".dropdown-toggle").off("click.dropdown");

		$(".dropdown-toggle").on("click.dropdown", function (event) {
			event.stopPropagation();

			const dropdownMenu = $(this).next(".dropdown-menu");
			const isVisible = !dropdownMenu.hasClass("hidden");

			$(".dropdown-menu").addClass("hidden");

			if (!isVisible) {
				dropdownMenu.removeClass("hidden");
			}
		});

		$(document).on("click.dropdown", function () {
			$(".dropdown-menu").addClass("hidden");
		});
	});
</script>

<script>
	function initializeSortable() {
		$(".pipeline_item")
			.parent()
			.sortable({
				handle: ".oh-kanban__section-head",
				connectWith: ".pipeline_item",
				placeholder: "stage-placeholder",
				stop: function (event, ui) {},
			})
			.disableSelection();
	}

	$(document).ready(function () {
		initializeSortable();

		function isNextStage(currentStageId, targetStageId, parsedStageOrder) {
			var currentStageIndex = parsedStageOrder.findIndex(
				(stage) => stage.id == currentStageId
			);
			var targetStageIndex = parsedStageOrder.findIndex(
				(stage) => stage.id == targetStageId
			);
			return (
				targetStageIndex === currentStageIndex + 1 ||
				currentStageIndex === targetStageIndex
			);
		}

		htmx.onLoad(function (content) {
			var sortables = content.querySelectorAll(".hx-sortable");

			for (var i = 0; i < sortables.length; i++) {
				var sortable = sortables[i];

				$(sortable).sortable({
					connectWith: ".hx-sortable",
					items: "> :not(.htmx-indicator)",
					ghostClass: "blue-background-class",
					placeholder: "sortable-placeholder",
					forcePlaceholderSize: true,
					helper: "clone",
					appendTo: "body",
					zIndex: 9999,
					helper: function (event, ui) {
						var helper = ui.clone();
						helper.css({
							width: "360px",
							"max-width": "360px",
							"min-width": "360px",
							"box-sizing": "border-box",
						});
						return helper;
					},

					start: function (event, ui) {
						var row = $(ui.item);
						window.candidateCurrentStage = parseInt(
							row
								.closest(".pipeline_item")
								.attr("data-stage-id")
						);
						ui.item.data("origin-parent", ui.item.parent());
						ui.item.data("origin-index", ui.item.index());
					},

					stop: function (event, ui) {
						var row = $(ui.item);
						var candidateId = row.data("instanceId");
						var newStageId = parseInt(
							row
								.closest(".pipeline_item")
								.attr("data-stage-id")
						);
						var targetStageId = parseInt(
							row
								.closest(".pipeline_item")
								.attr("data-stage-id")
						);
						var originalStageId = window.candidateCurrentStage;

						var stageOrderJson = row.data("groupOrder");
						if (stageOrderJson) {
							var parsedStageOrder = stageOrderJson;
							var preStage = parsedStageOrder.find(
								(stage) => stage.id == originalStageId
							);
							var currentStage = parsedStageOrder.find(
								(stage) => stage.id == targetStageId
							);

							if (
								!isNextStage(
									originalStageId,
									targetStageId,
									parsedStageOrder
								)
							) {
								if (
									sessionStorage.getItem(
										"showRecuitmentKanbanConfirmation"
									) !== "false"
								) {
									Swal.fire({
										title: "Confirm Stage Change",
										html: `
                                            <p class="mb-2">The candidate is being moved from ${preStage.stage} to the ${currentStage.stage} stage. Do you want to proceed?</p>
                                            <label><input type="checkbox" id="doNotShowAgain"> Don't show this again in this session</label>
                                        `,
										icon: "warning",
										showCancelButton: true,
										cancelButtonColor: "#d33",
										confirmButtonColor: "#008000",
										confirmButtonText: "Confirm",
										preConfirm: () => {
											const doNotShowAgain =
												Swal.getPopup().querySelector(
													"#doNotShowAgain"
												).checked;
											if (doNotShowAgain) {
												sessionStorage.setItem(
													"showRecuitmentKanbanConfirmation",
													"false"
												);
											}
										},
									}).then((result) => {
										if (result.isConfirmed) {
											handleValidDrop(
												targetStageId,
												candidateId,
												row,
												sortable
											);
											handleSortableUpdate(
												event,
												ui,
												$(this)
											);
										} else {
											const originParent =
												ui.item.data("origin-parent");
											const originIndex =
												ui.item.data("origin-index");

											if (
												originParent &&
												originIndex !== undefined
											) {
												const currentItem =
													ui.item.detach();
												const children =
													originParent.children();

												if (
													originIndex >=
													children.length
												) {
													originParent.append(
														currentItem
													);
												} else {
													currentItem.insertBefore(
														children.eq(originIndex)
													);
												}

												originParent.sortable(
													"refresh"
												);
											}
										}
									});

									return;
								}
							}
						}

						handleValidDrop(
							targetStageId,
							candidateId,
							row,
							sortable
						);
						handleSortableUpdate(event, ui, $(this));
					},
				});
			}
		});

		function handleValidDrop(stageId, candidateId, row, sortable) {
			if (stageId != window.candidateCurrentStage) {
				var container = row.closest(".pipeline_item");
				var array = container.find(
					"input[type=text][name=order]:hidden"
				);
				var values = [];

				for (let index = 0; index < array.length; index++) {
					values.push($(array[index]).val());
				}

				$.ajax({
					type: "get",
					url: "{% url 'update-candidate-stage-and-sequence' %}",
					traditional: true,
					data: {
						stage_id: stageId,
						candidate_id: candidateId,
						order: values,
					},
					success: function (response) {
						row.find('[name="group_id"]').val(stageId);
						Toast.fire({
							icon: "success",
							title: '{% trans "Sequence updated" %}',
							position: "top-end",
						});

						if (response.message) {
							Swal.fire({
								title: response.message,
								text: `Total vacancy is ${response.vacancy}.`,
								icon: "info",
								confirmButtonText: "Ok",
							});
						}
					},
					error: function () {
						Toast.fire({
							icon: "error",
							title: '{% trans "Something went wrong" %}',
							position: "top-end",
						});
					},
				});
			}
		}

		function handleSortableUpdate(event, ui, container) {
			var array = container.find("input[type=text][name=order]:hidden");
			var stageSelect = $(ui.item).find("[name=stage_id]");
			var stageId = container.attr("data-stage-id");

			if (stageId != stageSelect.val()) {
				stageSelect.val(stageId);
				var stageTitle = $(
					`[name=stage_id] option[value=${stageId}]:first`
				).html();
				stageSelect
					.next()
					.find(".select2-selection__rendered")
					.html(stageTitle);
			}

			var values = [];
			for (let index = 0; index < array.length; index++) {
				values.push($(array[index]).val());
			}

			$.ajax({
				type: "get",
				url: "{% url 'update-candidate-sequence' %}",
				traditional: true,
				data: {
					order: values,
					stage_id: stageId,
				},
				success: function () {
					$(".reload-badge").click();
					$(".stage-badges").removeAttr("title");
				},
			});
		}
	});

	$(document).on("htmx:beforeRequest", function (event) {
		var target = event.target;

		isDrag = $(event.target).attr("data-drag-htmx");
		if (isDrag == "true") {
			$.ajax({
				type: "get",
				url: "{% url 'update-candidate-sequence' %}",
				traditional: true,
				data: {
					order: values,
				},
				success: function (response) {},
			});
		}
	});

	var toggleFold = (el) => {
		console.log(el.closest(".stage"));
		el.closest(".kanban-block").toggleClass("folded");
	};
</script> {% endcomment %}

{% comment %}
<script>
	function executeScripts(container) {
		const scripts = container.querySelectorAll("script");
		scripts.forEach((script) => {
			const newScript = document.createElement("script");
			newScript.src = script.src;
			newScript.textContent = script.textContent;
			document.body.appendChild(newScript);
		});
	}

	document.addEventListener("htmx:afterSettle", function (event) {
		if (event.detail.target.querySelectorAll(".pipeline_item").length > 0) {
			initializeSortable();
		}
		executeScripts(event.detail.target);
	});

	initialAvtiveTab = $(".oh-tabs__content--active").length;
	if (!initialAvtiveTab) {
		$(".oh-tabs__tab:first").click();
	}
</script>
{% endcomment %} {% comment %}
<script src="{% static 'pipeline/search.js' %}"></script>
<script src="{% static 'pipeline/load.js' %}"></script>
<script src="{% static 'pipeline/badge.js' %}"></script>
{% endcomment %}
{% comment %} <script src="{% static 'pipeline/pipelineDrag.js' %}"></script> {% endcomment %}
