{% load i18n %}
{% load static %}
<div class="oh-btn-group" onclick="event.stopPropagation();">
  {% if request.dashboard_feedback %}
  <a class="oh-btn w-100"  href="{% url 'feedback-answer-get' id=instance.id %}" title="{% trans 'Answer' %}">
    <img
    style="width: 20px; height: 20px"
    src="{% static 'images/ui/writing.png' %}"
  /></a>
  {% elif request.request_feedback %}
        <a class="oh-btn w-100"  href="{% url 'feedback-answer-get' id=instance.id %}" title="{% trans 'Answer' %}">
          <img
          style="width: 20px; height: 20px"
          src="{% static 'images/ui/writing.png' %}"
        /></a>
          <a class="oh-btn w-100"  href="{% url 'feedback-answer-view' id=instance.id %}" title="{% trans 'Answer view' %}"><ion-icon name="eye"></ion-icon></ion-icon></a>
  {% elif request.all_feedback%}
      {% if perms.pms.delete_feedback %}
      <form action="{% url 'feedback-archive' id=instance.id %}" method="post" onsubmit="return confirm('{% if instance.archive %}{% trans "Are you sure you want to Un-archive this feedback?" %}{% else %}{% trans "Are you sure you want to archive this feedback?" %}{% endif %}')" style="display: contents">
        {% if instance.archive %}
            <button class="oh-btn oh-btn--danger-outline w-100" title="{% trans 'Un-archive' %}">
        {% else %}
            <button class="oh-btn oh-btn--danger-outline w-100" title="{% trans 'Archive' %}">
        {% endif %}
        {% csrf_token %}
        <ion-icon name="archive-sharp" type="submit"></ion-icon>
        </button>
      </form>
       {% if not instance.feedback_answer.all %}
          <form action="{% url 'feedback-delete' id=instance.id %}" method="post" onsubmit="return confirm('{% trans "Do you want Delete this Feedback ?" %}')" style="display: contents">
            {% csrf_token %}
            <button  class="oh-btn oh-btn--danger-outline  w-100" title="{% trans 'Delete' %}" >
                <ion-icon name="trash-outline" role="img" class="md hydrated" aria-label="trash outline"></ion-icon>
            </button>
          </form>
          {% else %}
          <button  class="oh-btn oh-btn--danger-outline  w-100" disabled title="{% trans "Can't delete the feedback it's already answered." %}">
            <ion-icon name="trash-outline" role="img" class="md hydrated" aria-label="trash outline"></ion-icon>
          </button>
        {% endif %}
        {%endif%}

  {% else %}
      <a class="oh-btn w-100"  href="{% url 'feedback-answer-get' id=instance.id %}" title="{% trans 'Answer' %}">
        <img
        style="width: 20px; height: 20px"
        src="{% static 'images/ui/writing.png' %}"
      /></a>
      <a class="oh-btn w-100"  href="{% url 'feedback-answer-view' id=instance.id %}" title="{% trans 'Answer view' %}"><ion-icon name="eye"></ion-icon></ion-icon></a>
      {% if perms.pms.delete_feedback %}
      <form action="{% url 'feedback-archive' id=instance.id %}" method="post" onsubmit="return confirm('{% if instance.archive %}{% trans "Are you sure you want to Un-archive this feedback?" %}{% else %}{% trans "Are you sure you want to archive this feedback?" %}{% endif %}')" style="display: contents">
        {% if instance.archive %}
            <button class="oh-btn oh-btn--danger-outline w-100" title="{% trans 'Un-archive' %}">
        {% else %}
            <button class="oh-btn oh-btn--danger-outline w-100" title="{% trans 'Archive' %}">
        {% endif %}
            {% csrf_token %}
            <ion-icon name="archive-sharp" type="submit"></ion-icon>
        </button>
      </form>
      {% if not instance.feedback_answer.all %}
        <form action="{% url 'feedback-delete' id=instance.id %}" method="post" onsubmit="return confirm('{% trans "Do you want Delete this Feedback ?" %}')" style="display: contents">
          {% csrf_token %}
          <button  class="oh-btn oh-btn--danger-outline  w-100" title="{% trans 'Delete' %}" >
              <ion-icon name="trash-outline" role="img" class="md hydrated" aria-label="trash outline"></ion-icon>
          </button>
        </form>
      {% elif request.self_feedback %}
        <button  class="oh-btn oh-btn--danger-outline  w-100" disabled title="{% trans "Can't delete the feedback it's already answered." %}">
          <ion-icon name="trash-outline" role="img" class="md hydrated" aria-label="trash outline"></ion-icon>
        </button>
      {% endif %}
      {%endif%}
{%endif%}
</div>
