{% extends 'index.html' %}
{% load static i18n %}
{% load widget_tweaks %}
{% load basefilters %}
{% load static %}


{% block styles %}
<link rel="stylesheet" href="{% static 'css/pms.css' %}" />

{% endblock styles %}

{% block content %}

<section class="oh-wrapper oh-main__topbar" x-data="{searchShow: false}">
    <div class="oh-main__titlebar oh-main__titlebar--left">
        <h1 class="oh-main__titlebar-title fw-bold">{% trans "Feedbacks" %}</h1>
    </div>

    <div class="oh-main__titlebar oh-main__titlebar--right">

        <div class="oh-main__titlebar-button-container">
            {% if perms.pms.add_feedback %}
                <div class="oh-btn-group ml-2">
                    <div class="oh-dropdown" x-data="{open: false}">
                        <button onclick="event.preventDefault()" class="oh-btn oh-btn--dropdown oh-btn oh-btn--shadow"
                            @click="open = !open" @click.outside="open = false">
                            {% trans "Actions" %}
                        </button>
                        <div class="oh-dropdown__menu oh-dropdown__menu--right" x-show="open" style="display: none;">
                            <ul class="oh-dropdown__items">
                                <li class="oh-dropdown__item">
                                    <a data-toggle="oh-modal-toggle" data-target="#objectCreateModal" hx-get="{% url "
                                        bulk-feedback-create" %}" hx-target="#objectCreateModalTarget"
                                        class="oh-dropdown__link" id="bulkfeedback">{% trans "Bulk Feedback" %}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            {% endif %}
            <!-- checking  user permission for objective creation -->
            {% if perms.pms.add_feedback or request.user|filtersubordinates %}
                <div class="oh-btn-group ml-2">
                    <div class="oh-dropdown" x-data="{open: false}">
                        <a href="{% url 'feedback-creation' %}" class="oh-btn oh-btn--secondary" role="button">
                            <ion-icon class="md hydrated" name="add-outline" role="img" aria-label="add outline"></ion-icon>
                            {% trans "Create" %}</a>

                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</section>


<div class="oh-wrapper">
    <div class="oh-empty">
        <img src="{% static 'images/ui/search.svg' %}" class="oh-404__image" alt="Page not found. 404." />
        <h1 class="oh-empty__title">{% trans "No Records found." %}</h1>
        <p class="oh-empty__subtitle">{% trans "No Feedbacks are available." %}</p>
    </div>
</div>


{% endblock content %}
