{% load i18n %}
<div class="row">
	<div class="col-12 col-sm-12 col-md-12 col-lg-12">
		<div class="">
			<div class="oh-card__body">
				<div class="oh-sticky-table oh-sticky-table--no-highlight">
					<div class="oh-sticky-table__table">
						<div class="oh-sticky-table__thead">
							<div class="oh-sticky-table__tr">
								<div class="oh-sticky-table__th">
									{% trans "Job Position" %}
								</div>
								<div class="oh-sticky-table__th">{% trans "Job Role" %}</div>
							</div>
						</div>

						<div class="oh-sticky-table__tbody">
							{% for job in job_positions %}
							<div
								class="oh-sticky-table__tr oh-permission-table__tr oh-permission-table--collapsed"
								data-count="{{job.jobrole_set.all|length}}"
								data-label="Job Role"
							>
								<div class="oh-sticky-table__sd oh-permission-table--toggle">
									<div class="d-flex align-items-center">
										<button class="oh-permission-table__collapse me-2">
											<ion-icon
												class="oh-permission-table__collapse-down"
												title="{% trans 'Reveal' %}"
												name="chevron-down-outline"
											></ion-icon>
											<ion-icon
												class="oh-permission-table__collapse-up"
												title="{% trans 'Collapse' %}"
												name="chevron-up-outline"
											></ion-icon>
										</button>
										<span class="oh-permission-table__user">{{job}}</span>
									</div>
								</div>
								<div class="oh-sticky-table__td">
									<span class="oh-permission-count">
										{{job.jobrole_set.all|length}} 
										{% trans "Job Roles" %}
									</span>
									{% for role in job.jobrole_set.all %}
									<span class="oh-user-panel oh-collapse-panel">
										<div class="oh-profile oh-profile--md">
											<div class="oh-profile__avatar mr-1">
												<img
													src="https://ui-avatars.com/api/?name={{role}}&background=random"
													class="oh-profile__image"
													alt="Baby C."
												/>
											</div>
											<span class="oh-profile__name oh-text--dark"
												>{{role|capfirst}}</span
											>
										</div>
										<div>
											<div class="d-flex">
												{% if perms.base.view_jobrole %}
												<div class="m-2">
													<a
														hx-get="{% url 'job-role-update' role.id %}"
														hx-target="#jobRoleForm"
														data-toggle="oh-modal-toggle"
														data-target="#jobRoleModal"
														class="mr-3 float-left"
														title="{% trans 'Edit' %}"
													>
														<ion-icon name="pencil-outline"></ion-icon>
													</a>
												</div>
												{% endif %} {% if perms.base.delete_jobrole %}
												<div class="m-2">
													<form action="{% url 'job-role-delete' role.id %}"
														onsubmit="return confirm('{% trans "Are you sure you want to delete this job role?" %}');"
														method='post' class="mr-3 float-left">
														<button
															type="submit"
															style="
																background: none;
																color: inherit;
																border: none;
																padding: 0;
																font: inherit;
																cursor: pointer;
																outline: none;
															"
															title="{% trans 'Remove' %}"
														>
															<ion-icon
																name="close"
																class="text-danger"
															></ion-icon>
														</button>
														{% csrf_token %}
													</form>
												</div>
												{% endif %}
											</div>
										</div>
									</span>
									{% endfor %}
								</div>
							</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
