{% load i18n %}
{% load static %}
<div class="oh-dropdown__filter-body">
    <div class="oh-accordion">
      <div class="oh-accordion-header">{% trans "Contract" %}</div>
      <div class="oh-accordion-body">
        <div class="row">
          <div class="col-sm-6">
            <div class="oh-input-group">
              <label class="oh-label" for="{{form.contract_start_date.id_for_label}}">{% trans "Start Date" %}</label>
              {{ form.contract_start_date }}
            </div>
          </div>
          <div class="col-sm-6">
            <div class="oh-input-group">
              <label class="oh-label" for="{{form.contract_end_date.id_for_label}}">{% trans "End Date" %}</label>
              {{ form.contract_end_date }}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="oh-input-group">
              <label class="oh-label" for="{{form.wage_type.id_for_label}}">{% trans "Wage Type" %}</label>
              {{ form.wage_type }}
            </div>
          </div>
          <div class="col-sm-6">
            <div class="oh-input-group">
              <label class="oh-label" for="{{form.filing_status.id_for_label}}">{% trans "Filing Status" %}</label>
              {{ form.filing_status }}
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
              <div class="oh-input-group">
                <label class="oh-label" for="{{form.pay_frequency.id_for_label}}">{% trans "Pay Frequency" %}</label>
                {{ form.pay_frequency }}
              </div>
            </div>
            <div class="col-sm-6">
              <div class="oh-input-group">
                <label class="oh-label" for="{{form.contract_status.id_for_label}}">{% trans "Status" %}</label>
                {{ form.contract_status }}
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="oh-accordion">
      <div class="oh-accordion-header">{% trans "Work Info" %}</div>
      <div class="oh-accordion-body">
        <div class="row">
          <div class="col-sm-6">
            <div class="oh-input-group">
              <label class="oh-label" for="{{form.employee_id__employee_work_info__company_id.id_for_label}}">{% trans "Company" %}</label>
              {{ form.employee_id__employee_work_info__company_id }}
            </div>
          </div>
          <div class="col-sm-6">
            <div class="oh-input-group">
              <label class="oh-label" for="{{form.department.id_for_label}}">{% trans "Department" %}</label>
              {{ form.department }}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="oh-input-group">
              <label class="oh-label" for="{{form.job_position.id_for_label}}">{% trans "Job Position" %}</label>
              {{ form.job_position }}
            </div>
          </div>
          <div class="col-sm-6">
            <div class="oh-input-group">
              <label class="oh-label" for="{{form.job_role.id_for_label}}">{% trans "Job Role" %}</label>
              {{ form.job_role }}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="oh-input-group">
              <label class="oh-label" for="{{form.shift.id_for_label}}">{% trans "Shift" %}</label>
              {{ form.shift }}
            </div>
          </div>
          <div class="col-sm-6">
            <div class="oh-input-group">
              <label class="oh-label" for="{{form.work_type.id_for_label}}">{% trans "Work Type" %}</label>
              {{ form.work_type }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="oh-accordion">
      <div class="oh-accordion-header">{% trans "Advanced" %}</div>
      <div class="oh-accordion-body">
        <div class="row">
          <div class="col-sm-6">
            <div class="oh-input-group">
              <label class="oh-label" for="{{form.contract_start_date_from.id_for_label}}">{% trans "Contract Start Date From" %}</label>
              {{ form.contract_start_date_from }}
            </div>
          </div>
          <div class="col-sm-6">
            <div class="oh-input-group">
              <label class="oh-label" for="{{form.contract_start_date_till.id_for_label}}">{% trans "Contract Start Date Till" %}</label>
              {{ form.contract_start_date_till }}
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
              <div class="oh-input-group">
                <label class="oh-label" for="{{form.contract_end_date_from.id_for_label}}">{% trans "Contract End Date From" %}</label>
                {{ form.contract_end_date_from }}
              </div>
            </div>
            <div class="col-sm-6">
              <div class="oh-input-group">
                <label class="oh-label" for="{{form.contract_end_date_till.id_for_label}}">{% trans "Contract End Date Till" %}</label>
                {{ form.contract_end_date_till }}
              </div>
            </div>
          </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="oh-input-group">
              <label class="oh-label" for="{{form.basic_pay__lte.id_for_label}}"
                >{% trans "Basic Salary Less Than or Equal" %}</label
              >
              {{ form.basic_pay__lte }}
            </div>
          </div>
          <div class="col-sm-6">
            <div class="oh-input-group">
              <label class="oh-label" for="{{form.basic_pay__gte.id_for_label}}"
                >{% trans "Basic Salary Greater or Equal" %}</label
              >
              {{ form.basic_pay__gte }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
