{% extends "index.html" %} {% load i18n %} {% load static %} {% block content %}

<style>
    .diff-cell{
      background: rgba(255, 166, 0, 0.158);
    }
</style>
<main :class="sidebarOpen ? 'oh-main__sidebar-visible' : ''">
    {% include "meetings/meetings_nav.html" %}
    <div class="oh-wrapper">
        <div id="meeting_list">
            {% include 'meetings/meetings_list.html' %}
        </div>
    </div>
    <div class="oh-activity-sidebar" id="activitySidebar" style="z-index:1000;">
        <div class="oh-activity-sidebar__body" id="answerContainer">
        </div>
    </div>
</main>

<script src="{% static 'src/feedback/action.js' %}"></script>
<script src="{% static '/base/filter.js' %}"></script>
<script>
    $(".oh-permission-table--toggle").on("click", function(){
        $(this).siblings(".oh-sticky-table__td").children(".count-span").toggleClass("d-none")
    })
</script>

{% endblock content %}
