{% load i18n %}
<div class="oh-modal__button-container text-center mt-3 w-100">
    <div class="oh-btn oh-btn-group">
        {% if instance.is_approved and instance.status == 'requested' %}
            {% if instance.employee_id == request.user.employee_get and not request.user.is_superuser %}
                <a type="submit" href="#" title="{% trans 'Approve' %}"
                    class="oh-btn oh-btn-group oh-btn--success oh-btn--disabled
                    w-100">
                    <ion-icon class="me-1" name="checkmark-outline"></ion-icon>
                </a>
            {% else %}
                <a href="{% url 'request-approve' instance.id %}" title="{% trans 'Approve' %}"
                    class="oh-btn oh-btn--success w-100" {% if instance.end_date.month > current_date.month %} onclick = "leaveRequestConfirm('This leave request is for the month of {{instance.start_date|date:'F'}}. Approval depends on the {{instance.employee_id.get_full_name}} having available leave days for this month.',event);" {% else %}  onclick = "return confirm('Do You really want to Approve this request?')"; {% endif %}>
                    <ion-icon class="me-1" name="checkmark-outline"></ion-icon>
                </a>
            {% endif %}
        {% else %}
            <a type="submit" href="#" title="{% trans 'Approve' %}"
                class="oh-btn oh-btn-group oh-btn--success oh-btn--disabled
                w-100">
                <ion-icon class="me-1" name="checkmark-outline"></ion-icon>
            </a>
        {% endif %}
        <button data-toggle="oh-modal-toggle"
        data-target="#penaltyModal"
        hx-target="#penaltyModalBody"
        hx-get="{% url 'leave-cut-penalty' instance.id %}"
        type="submit" class="oh-btn oh-btn--info w-100"
        title="Penalty" id="penaltyButton">
            <ion-icon name="information-circle-outline" role="img" class="md hydrated" aria-label="information circle outline"></ion-icon>
        </button>
        {% if instance.status != 'rejected' and instance.end_date >= current_date %}
      {% comment %} {% if instance.status != 'cancelled' %} {% endcomment %}
        <a type="submit" data-toggle="oh-modal-toggle"
            data-target="#rejectModal" hx-get="{% url 'request-cancel' instance.id %}" hx-target="#rejectForm" title="{% trans 'Reject' %}"
            class="oh-btn oh-btn--danger w-100">
            <ion-icon class="me-1" name="close-circle-outline"></ion-icon>
        </a>
        {% else %}
            <a type="submit" href="#" title="{% trans 'Reject' %}"
                class="oh-btn oh-btn-group oh-btn--danger oh-btn--disabled
                w-100" >
                <ion-icon class="me-1" name="close-circle-outline"></ion-icon>
            </a>
        {% endif %}
    </div>
</div>
