{
  "name": "OpenHRMS Dashboard",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [
    {
      "path": "main.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"../../build/css/style.min.css\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":true},\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"}}"
    },
    {
      "path": "components/_input.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false},\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"}}"
    },
    {
      "path": "components/_card.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false},\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"}}"
    },
    {
      "path": "components/_button.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false},\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"}}"
    },
    {
      "path": "layout/_general.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false},\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"}}"
    },
    {
      "path": "components/_progress.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false},\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"}}"
    },
    {
      "path": "abstracts/_variables.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false},\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"}}"
    },
    {
      "path": "layout/_scaffold.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false},\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"}}"
    },
    {
      "path": "vendors/bootstrap/scss/forms/_form-range.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false},\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"}}"
    },
    {
      "path": "vendors/bootstrap/scss/forms/_form-control.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false},\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"}}"
    },
    {
      "path": "vendors/bootstrap/scss/_carousel.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false},\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"}}"
    },
    {
      "path": "vendors/bootstrap/scss/mixins/_table-variants.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false},\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"}}"
    },
    {
      "path": "vendors/bootstrap/scss/mixins/_gradients.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false},\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"}}"
    },
    {
      "path": "vendors/bootstrap/scss/mixins/_container.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false},\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"}}"
    },
    {
      "path": "vendors/bootstrap/scss/mixins/_breakpoints.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false},\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"}}"
    },
    {
      "path": "vendors/bootstrap/scss/mixins/_grid.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false},\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"}}"
    },
    {
      "path": "vendors/bootstrap/scss/_type.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false},\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"}}"
    },
    {
      "path": "vendors/bootstrap/scss/bootstrap-reboot.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false},\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"}}"
    },
    {
      "path": "vendors/bootstrap/scss/_badge.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false},\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"}}"
    },
    {
      "path": "vendors/bootstrap/scss/_dropdown.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false},\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"}}"
    },
    {
      "path": "vendors/bootstrap/scss/_nav.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false},\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"}}"
    },
    {
      "path": "vendors/bootstrap/scss/_pagination.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false},\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"}}"
    },
    {
      "path": "vendors/bootstrap/scss/_transitions.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false},\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"}}"
    },
    {
      "path": "vendors/bootstrap/scss/bootstrap.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false},\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"}}"
    },
    {
      "path": "vendors/bootstrap/_button-group.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false},\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"}}"
    },
    {
      "path": "vendors/bootstrap/_carousel.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false},\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"}}"
    },
    {
      "path": "vendors/bootstrap/_forms.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false},\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"}}"
    },
    {
      "path": "vendors/bootstrap/_grid.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false},\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"}}"
    },
    {
      "path": "vendors/bootstrap/_tables.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false},\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"}}"
    },
    {
      "path": "vendors/bootstrap/_type.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false},\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"}}"
    },
    {
      "path": "vendors/bootstrap/bootstrap.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false},\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"}}"
    },
    {
      "path": "vendors/bootstrap/_bootstrap.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false},\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"}}"
    },
    {
      "path": "vendors/bootstrap/_functions.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false},\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"}}"
    },
    {
      "path": "vendors/bootstrap/_root.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false},\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"}}"
    },
    {
      "path": "components/_profile.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false},\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"}}"
    },
    {
      "path": "vendors/nice-select/style.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false},\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"}}"
    },
    {
      "path": "vendors/nice-select/_prism.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false},\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"}}"
    },
    {
      "path": "vendors/nice-select/nice-select2.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false},\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"}}"
    },
    {
      "path": "vendors/nice-select/_nice-select2.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false},\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"}}"
    },
    {
      "path": "vendors/nice-select/_nice-select.scss",
      "configJson": "{\"forceCompile\":false,\"customOutput\":\"\",\"autoCompile\":true,\"sourceMap\":false,\"compiler-autoprefixer\":{\"enabled\":true},\"compiler-minify-css\":{\"enabled\":false},\"compiler-node-sass\":{\"enabled\":true,\"outputStyle\":\"nested\"}}"
    }
  ],
  "fileTree": {
    "expandedDirs": [],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "main.scss",
      "imports": [
        "abstracts/_variables.scss",
        "abstracts/_functions.scss",
        "abstracts/_mixins.scss",
        "vendors/_normalize.scss",
        "vendors/bootstrap/_bootstrap.scss",
        "base/_base.scss",
        "base/_fonts.scss",
        "base/_typography.scss",
        "base/_helpers.scss",
        "layout/_header.scss",
        "layout/_general.scss",
        "layout/_footer.scss",
        "components/_button.scss",
        "components/_badges.scss",
        "components/_card.scss",
        "components/_dropdown.scss",
        "components/_input.scss",
        "components/_modal.scss",
        "components/_pagination.scss",
        "components/_profile.scss",
        "components/_progress.scss",
        "components/_sidebar.scss",
        "components/_table.scss",
        "components/_tooltip.scss",
        "pages/_dashboard.scss",
        "themes/_default.scss",
        "overrides/_datepicker.scss",
        "vendors/bootstrap/_functions.scss",
        "vendors/bootstrap/_variables.scss",
        "vendors/bootstrap/_mixins.scss",
        "vendors/bootstrap/_utilities.scss",
        "vendors/bootstrap/_root.scss",
        "vendors/bootstrap/_reboot.scss",
        "vendors/bootstrap/_type.scss",
        "vendors/bootstrap/_containers.scss",
        "vendors/bootstrap/_grid.scss",
        "vendors/bootstrap/_helpers.scss",
        "vendors/bootstrap/utilities/_api.scss",
        "vendors/bootstrap/vendor/_rfs.scss",
        "vendors/bootstrap/mixins/_deprecate.scss",
        "vendors/bootstrap/mixins/_breakpoints.scss",
        "vendors/bootstrap/mixins/_color-scheme.scss",
        "vendors/bootstrap/mixins/_image.scss",
        "vendors/bootstrap/mixins/_resize.scss",
        "vendors/bootstrap/mixins/_visually-hidden.scss",
        "vendors/bootstrap/mixins/_reset-text.scss",
        "vendors/bootstrap/mixins/_text-truncate.scss",
        "vendors/bootstrap/mixins/_utilities.scss",
        "vendors/bootstrap/mixins/_alert.scss",
        "vendors/bootstrap/mixins/_buttons.scss",
        "vendors/bootstrap/mixins/_caret.scss",
        "vendors/bootstrap/mixins/_pagination.scss",
        "vendors/bootstrap/mixins/_lists.scss",
        "vendors/bootstrap/mixins/_list-group.scss",
        "vendors/bootstrap/mixins/_forms.scss",
        "vendors/bootstrap/mixins/_table-variants.scss",
        "vendors/bootstrap/mixins/_border-radius.scss",
        "vendors/bootstrap/mixins/_box-shadow.scss",
        "vendors/bootstrap/mixins/_gradients.scss",
        "vendors/bootstrap/mixins/_transition.scss",
        "vendors/bootstrap/mixins/_clearfix.scss",
        "vendors/bootstrap/mixins/_container.scss",
        "vendors/bootstrap/mixins/_grid.scss",
        "vendors/bootstrap/helpers/_clearfix.scss",
        "vendors/bootstrap/helpers/_colored-links.scss",
        "vendors/bootstrap/helpers/_ratio.scss",
        "vendors/bootstrap/helpers/_position.scss",
        "vendors/bootstrap/helpers/_visually-hidden.scss",
        "vendors/bootstrap/helpers/_stretched-link.scss",
        "vendors/bootstrap/helpers/_text-truncation.scss"
      ]
    },
    {
      "path": "vendors/bootstrap/scss/bootstrap-reboot.scss",
      "imports": [
        "vendors/bootstrap/scss/_functions.scss",
        "vendors/bootstrap/scss/_variables.scss",
        "vendors/bootstrap/scss/_mixins.scss",
        "vendors/bootstrap/scss/_reboot.scss",
        "vendors/bootstrap/scss/vendor/_rfs.scss",
        "vendors/bootstrap/scss/mixins/_deprecate.scss",
        "vendors/bootstrap/scss/mixins/_breakpoints.scss",
        "vendors/bootstrap/scss/mixins/_color-scheme.scss",
        "vendors/bootstrap/scss/mixins/_image.scss",
        "vendors/bootstrap/scss/mixins/_resize.scss",
        "vendors/bootstrap/scss/mixins/_visually-hidden.scss",
        "vendors/bootstrap/scss/mixins/_reset-text.scss",
        "vendors/bootstrap/scss/mixins/_text-truncate.scss",
        "vendors/bootstrap/scss/mixins/_utilities.scss",
        "vendors/bootstrap/scss/mixins/_alert.scss",
        "vendors/bootstrap/scss/mixins/_buttons.scss",
        "vendors/bootstrap/scss/mixins/_caret.scss",
        "vendors/bootstrap/scss/mixins/_pagination.scss",
        "vendors/bootstrap/scss/mixins/_lists.scss",
        "vendors/bootstrap/scss/mixins/_list-group.scss",
        "vendors/bootstrap/scss/mixins/_forms.scss",
        "vendors/bootstrap/scss/mixins/_table-variants.scss",
        "vendors/bootstrap/scss/mixins/_border-radius.scss",
        "vendors/bootstrap/scss/mixins/_box-shadow.scss",
        "vendors/bootstrap/scss/mixins/_gradients.scss",
        "vendors/bootstrap/scss/mixins/_transition.scss",
        "vendors/bootstrap/scss/mixins/_clearfix.scss",
        "vendors/bootstrap/scss/mixins/_container.scss",
        "vendors/bootstrap/scss/mixins/_grid.scss"
      ]
    },
    {
      "path": "vendors/bootstrap/scss/bootstrap.scss",
      "imports": [
        "vendors/bootstrap/scss/_functions.scss",
        "vendors/bootstrap/scss/_variables.scss",
        "vendors/bootstrap/scss/_mixins.scss",
        "vendors/bootstrap/scss/_utilities.scss",
        "vendors/bootstrap/scss/_root.scss",
        "vendors/bootstrap/scss/_reboot.scss",
        "vendors/bootstrap/scss/_type.scss",
        "vendors/bootstrap/scss/_images.scss",
        "vendors/bootstrap/scss/_containers.scss",
        "vendors/bootstrap/scss/_grid.scss",
        "vendors/bootstrap/scss/_tables.scss",
        "vendors/bootstrap/scss/_forms.scss",
        "vendors/bootstrap/scss/_buttons.scss",
        "vendors/bootstrap/scss/_transitions.scss",
        "vendors/bootstrap/scss/_dropdown.scss",
        "vendors/bootstrap/scss/_button-group.scss",
        "vendors/bootstrap/scss/_nav.scss",
        "vendors/bootstrap/scss/_navbar.scss",
        "vendors/bootstrap/scss/_card.scss",
        "vendors/bootstrap/scss/_accordion.scss",
        "vendors/bootstrap/scss/_breadcrumb.scss",
        "vendors/bootstrap/scss/_pagination.scss",
        "vendors/bootstrap/scss/_badge.scss",
        "vendors/bootstrap/scss/_alert.scss",
        "vendors/bootstrap/scss/_progress.scss",
        "vendors/bootstrap/scss/_list-group.scss",
        "vendors/bootstrap/scss/_close.scss",
        "vendors/bootstrap/scss/_toasts.scss",
        "vendors/bootstrap/scss/_modal.scss",
        "vendors/bootstrap/scss/_tooltip.scss",
        "vendors/bootstrap/scss/_popover.scss",
        "vendors/bootstrap/scss/_carousel.scss",
        "vendors/bootstrap/scss/_spinners.scss",
        "vendors/bootstrap/scss/_offcanvas.scss",
        "vendors/bootstrap/scss/_helpers.scss",
        "vendors/bootstrap/scss/utilities/_api.scss",
        "vendors/bootstrap/scss/vendor/_rfs.scss",
        "vendors/bootstrap/scss/mixins/_deprecate.scss",
        "vendors/bootstrap/scss/mixins/_breakpoints.scss",
        "vendors/bootstrap/scss/mixins/_color-scheme.scss",
        "vendors/bootstrap/scss/mixins/_image.scss",
        "vendors/bootstrap/scss/mixins/_resize.scss",
        "vendors/bootstrap/scss/mixins/_visually-hidden.scss",
        "vendors/bootstrap/scss/mixins/_reset-text.scss",
        "vendors/bootstrap/scss/mixins/_text-truncate.scss",
        "vendors/bootstrap/scss/mixins/_utilities.scss",
        "vendors/bootstrap/scss/mixins/_alert.scss",
        "vendors/bootstrap/scss/mixins/_buttons.scss",
        "vendors/bootstrap/scss/mixins/_caret.scss",
        "vendors/bootstrap/scss/mixins/_pagination.scss",
        "vendors/bootstrap/scss/mixins/_lists.scss",
        "vendors/bootstrap/scss/mixins/_list-group.scss",
        "vendors/bootstrap/scss/mixins/_forms.scss",
        "vendors/bootstrap/scss/mixins/_table-variants.scss",
        "vendors/bootstrap/scss/mixins/_border-radius.scss",
        "vendors/bootstrap/scss/mixins/_box-shadow.scss",
        "vendors/bootstrap/scss/mixins/_gradients.scss",
        "vendors/bootstrap/scss/mixins/_transition.scss",
        "vendors/bootstrap/scss/mixins/_clearfix.scss",
        "vendors/bootstrap/scss/mixins/_container.scss",
        "vendors/bootstrap/scss/mixins/_grid.scss",
        "vendors/bootstrap/scss/forms/_labels.scss",
        "vendors/bootstrap/scss/forms/_form-text.scss",
        "vendors/bootstrap/scss/forms/_form-control.scss",
        "vendors/bootstrap/scss/forms/_form-select.scss",
        "vendors/bootstrap/scss/forms/_form-check.scss",
        "vendors/bootstrap/scss/forms/_form-range.scss",
        "vendors/bootstrap/scss/forms/_floating-labels.scss",
        "vendors/bootstrap/scss/forms/_input-group.scss",
        "vendors/bootstrap/scss/forms/_validation.scss",
        "vendors/bootstrap/scss/helpers/_clearfix.scss",
        "vendors/bootstrap/scss/helpers/_colored-links.scss",
        "vendors/bootstrap/scss/helpers/_ratio.scss",
        "vendors/bootstrap/scss/helpers/_position.scss",
        "vendors/bootstrap/scss/helpers/_visually-hidden.scss",
        "vendors/bootstrap/scss/helpers/_stretched-link.scss",
        "vendors/bootstrap/scss/helpers/_text-truncation.scss"
      ]
    },
    {
      "path": "vendors/bootstrap/bootstrap.scss",
      "imports": [
        "vendors/bootstrap/_functions.scss",
        "vendors/bootstrap/_variables.scss",
        "vendors/bootstrap/_mixins.scss",
        "vendors/bootstrap/_utilities.scss",
        "vendors/bootstrap/_root.scss",
        "vendors/bootstrap/_reboot.scss",
        "vendors/bootstrap/_type.scss",
        "vendors/bootstrap/_images.scss",
        "vendors/bootstrap/_containers.scss",
        "vendors/bootstrap/_grid.scss",
        "vendors/bootstrap/_tables.scss",
        "vendors/bootstrap/_forms.scss",
        "vendors/bootstrap/_buttons.scss",
        "vendors/bootstrap/_transitions.scss",
        "vendors/bootstrap/_dropdown.scss",
        "vendors/bootstrap/_button-group.scss",
        "vendors/bootstrap/_nav.scss",
        "vendors/bootstrap/_navbar.scss",
        "vendors/bootstrap/_card.scss",
        "vendors/bootstrap/_accordion.scss",
        "vendors/bootstrap/_breadcrumb.scss",
        "vendors/bootstrap/_pagination.scss",
        "vendors/bootstrap/_badge.scss",
        "vendors/bootstrap/_alert.scss",
        "vendors/bootstrap/_progress.scss",
        "vendors/bootstrap/_list-group.scss",
        "vendors/bootstrap/_close.scss",
        "vendors/bootstrap/_toasts.scss",
        "vendors/bootstrap/_modal.scss",
        "vendors/bootstrap/_tooltip.scss",
        "vendors/bootstrap/_popover.scss",
        "vendors/bootstrap/_carousel.scss",
        "vendors/bootstrap/_spinners.scss",
        "vendors/bootstrap/_offcanvas.scss",
        "vendors/bootstrap/_helpers.scss",
        "vendors/bootstrap/utilities/_api.scss",
        "vendors/bootstrap/vendor/_rfs.scss",
        "vendors/bootstrap/mixins/_deprecate.scss",
        "vendors/bootstrap/mixins/_breakpoints.scss",
        "vendors/bootstrap/mixins/_color-scheme.scss",
        "vendors/bootstrap/mixins/_image.scss",
        "vendors/bootstrap/mixins/_resize.scss",
        "vendors/bootstrap/mixins/_visually-hidden.scss",
        "vendors/bootstrap/mixins/_reset-text.scss",
        "vendors/bootstrap/mixins/_text-truncate.scss",
        "vendors/bootstrap/mixins/_utilities.scss",
        "vendors/bootstrap/mixins/_alert.scss",
        "vendors/bootstrap/mixins/_buttons.scss",
        "vendors/bootstrap/mixins/_caret.scss",
        "vendors/bootstrap/mixins/_pagination.scss",
        "vendors/bootstrap/mixins/_lists.scss",
        "vendors/bootstrap/mixins/_list-group.scss",
        "vendors/bootstrap/mixins/_forms.scss",
        "vendors/bootstrap/mixins/_table-variants.scss",
        "vendors/bootstrap/mixins/_border-radius.scss",
        "vendors/bootstrap/mixins/_box-shadow.scss",
        "vendors/bootstrap/mixins/_gradients.scss",
        "vendors/bootstrap/mixins/_transition.scss",
        "vendors/bootstrap/mixins/_clearfix.scss",
        "vendors/bootstrap/mixins/_container.scss",
        "vendors/bootstrap/mixins/_grid.scss",
        "vendors/bootstrap/forms/_labels.scss",
        "vendors/bootstrap/forms/_form-text.scss",
        "vendors/bootstrap/forms/_form-control.scss",
        "vendors/bootstrap/forms/_form-select.scss",
        "vendors/bootstrap/forms/_form-check.scss",
        "vendors/bootstrap/forms/_form-range.scss",
        "vendors/bootstrap/forms/_floating-labels.scss",
        "vendors/bootstrap/forms/_input-group.scss",
        "vendors/bootstrap/forms/_validation.scss",
        "vendors/bootstrap/helpers/_clearfix.scss",
        "vendors/bootstrap/helpers/_colored-links.scss",
        "vendors/bootstrap/helpers/_ratio.scss",
        "vendors/bootstrap/helpers/_position.scss",
        "vendors/bootstrap/helpers/_visually-hidden.scss",
        "vendors/bootstrap/helpers/_stretched-link.scss",
        "vendors/bootstrap/helpers/_text-truncation.scss"
      ]
    },
    {
      "path": "vendors/nice-select/_nice-select.scss",
      "imports": [
        "vendors/nice-select/_prism.scss"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7884,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": true,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "",
    "uploadTimeout": 20000,
    "uploadOnChange": false,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "",
      "port": 21,
      "user": "",
      "password": ""
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": []
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"],\"compiler-minify-css\":{\"enabled\":true}}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}