<style>.column {
  /* width: 100%;
    padding: 1%;
    margin-top: 10px;
    float: left;
    padding-bottom: 100px; */
}

.portlet {
  margin: 0 1em 1em 0;
  padding: 0.3em;
}

.portlet-header {
  padding: 0.2em 0.3em;
  margin-bottom: 0.5em;
  position: relative;
}

.portlet-toggle {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -8px;
}

.portlet-content {
  padding: 0.4em;
}

.portlet-placeholder {
  border: 1px dotted black;
  margin: 0 1em 1em 0;
  height: 50px;
}

.sortable-row {
  width: 100%;
  height: 50px;
  margin: 5px;
  background-color: wheat;
}

.sortable-g {
  width: 100%;
  height: auto;
  padding: 20px;
  margin: 5px;
  background-color: rgb(61, 50, 29);
}


/*Limit Height & Resize*/
.table_scroll {
  max-height: 300px;
  min-height: 50px;
  overflow: auto;
  /* resize: vertical; */
  margin: auto;
  max-width: 100%;
}

/*Div Table Setting*/
.css_table {
  display: table;
  position: relative;
  width: 100%;
}

.css_tr {
  display: table-row;
}

.css_tr:nth-child(even) .css_td {
  background: #f5f5f5;
}

.css_tr:nth-child(odd) .css_td {
  background: #fff;
}

.css_td,
.css_th,
.css_sd {
  display: table-cell;
  padding: 8px 10px;
  white-space: nowrap;
  border-bottom: 0.2px solid #fff;
  border-right: 0.2px solid #fff;
}

.css_thead {
  display: table-header-group;
  font-weight: bold;
  z-index: 1;
}

.css_tfoot {
  background-color: #eee;
  display: table-footer-group;
  font-weight: bold;
}

.css_tbody {
  display: table-row-group;
}

/*Table Header Fixed */
.css_th,
.css_sd {
  position: sticky;
  background-color: #f9f9f9;
  color: rgb(37, 37, 37);
}

.css_th {
  top: 0;
}

.css_sd {
  left: 0;
}

.css_thead div.css_th:first-child,
.css_tfoot div.css_th:first-child {
  left: 0;
  z-index: 1;
}

.css_tfoot .css_th {
  bottom: 0
}

/*Responsive Div Table*/
@media screen and (max-width: 650px) {
  .css_table {
    border: 0;
  }

  .css_table .css_thead,
  .css_table .css_tfoot {
    display: none;
  }

  .css_table .css_tr {
    margin-bottom: 10px;
    display: block;
    border-bottom: 2px solid #ddd;
  }

  .css_table .css_td,
  .css_table .css_sd {
    display: block;
    text-align: right;
    font-size: 13px;
    border-bottom: 1px dotted #ccc;
    border-left: 1px solid #ddd;
  }

  .css_table .css_td:last-child {
    border-bottom: 0;
  }

  .css_table .css_td:before,
  .css_table .css_sd:before {
    content: attr(data-label);
    float: left;
    text-transform: uppercase;
    font-weight: bold;
  }

  .table_scroll {
    margin: 0;
    height: auto !important;
  }

  .css_tr:nth-child(even) .css_td {
    background: #fff;
  }
}

.avatar {
  vertical-align: middle;
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
  filter: grayscale(100%)
}

.ui-sortable {
  height: 50px;
}

</style>
