{% load i18n %}
{% if  perms.pms.add_employeeobjective or perms.pms.change_objective or perms.pms.delete_objective %}
    <div class="flex items-center justify-center gap-1" onclick="event.stopPropagation()">
        {% if perms.pms.add_employeeobjective %}
            <button
                onclick="event.preventDefault();event.stopPropagation()"
                hx-get="{% url 'add-assignees' instance.pk %}"
                hx-target="#genericModalBody"
                hx-swap="innerHTML"
                data-toggle="oh-modal-toggle"
                data-target="#genericModal"
                class="oh-btn oh-btn--light-bkg oh-btn--sq-sm"
                title="{% trans 'Add assignees' %}"
            ><ion-icon name="add-outline"></ion-icon></button>
        {% endif %}
        {% if perms.pms.change_objective %}
            <button
                onclick="event.preventDefault();event.stopPropagation()"
                data-toggle="oh-modal-toggle"
                data-target="#genericModal"
                hx-get="{% url 'objective-update' instance.id %}"
                hx-target="#genericModalBody"
                class="oh-btn oh-btn--light-bkg oh-btn--sq-sm"
                title="{% trans 'Edit' %}"
                ><ion-icon name="create-outline"></ion-icon>
            </button>
        {% endif %}
        {% if perms.pms.delete_objective %}
            {% if instance.archive %}
                <form
                    hx-post='{% url "objective-archive" instance.id %}'
                    hx-confirm='{% trans "Do you want to unarchive this objective?" %}'
                    hx-swap="innerHTML"
                    hx-target="#tr{{ instance.id }}"
                >
                    {% csrf_token %}
                    <button
                        onclick="event.stopPropagation()"
                        class="oh-btn oh-btn--light-bkg oh-btn--sq-sm"
                        title="{% trans 'Unarchive' %}"
                    >
                        <ion-icon name="archive"></ion-icon>
                    </button>
                </form>
            {% else %}
                <form
                    hx-post='{% url "objective-archive" instance.id %}'
                    hx-confirm='{% trans "Do you want to archive this objective?" %}'
                    hx-swap="innerHTML"
                    hx-target="#tr{{ instance.id }}"
                >
                    {% csrf_token %}
                    <button
                        onclick="event.stopPropagation()"
                        class="oh-btn oh-btn--light-bkg oh-btn--sq-sm"
                        title="{% trans 'Archive' %}"
                    >
                        <ion-icon name="archive"></ion-icon>
                    </button>
                </form>
            {% endif %}
        {% endif %}
        {% if perms.pms.delete_objective %}
            <form
                hx-post='{% url "objective-delete" instance.id %}'
                hx-confirm="{% trans 'Are you sure to delete this objective?' %}"
                hx-swap="innerHTML"
                hx-target="#tr{{ instance.id }}"
            >
                {% csrf_token %}
                <button class="oh-btn oh-btn--danger oh-btn--sq-sm" title="{% trans 'Delete' %}">
                    <ion-icon name="trash-outline" role="img" class="md hydrated" aria-label="trash outline"></ion-icon>
                </button>
            </form>
        {% endif %}
    </div>
{% endif %}
