{% extends 'index.html' %}
{% block content %}
{% load static i18n %}
{% load i18n %}
{% load widget_tweaks %}
{% load assets_custom_filter %}


<style>
    .button-link {
        display: inline-block;
        padding: 12px 15px;
        background-color: #F0EFEF; /* Change this to your desired button color */
        color: #312D2D; /* Text color for the button */
        text-align: center;
        text-decoration: none;
        cursor: pointer;
    }
</style>

<!-- start of messages -->
{% if messages %}
<div class="oh-wrapper">
    {% for message in messages %}
    <div class="oh-alert-container">
        <div class="oh-alert oh-alert--animated oh-alert--warning">
            {{ message }}
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}
<!-- end of messages -->

<main :class="sidebarOpen ? 'oh-main__sidebar-visible' : ''">
    <section class="oh-wrapper oh-main__topbar" x-data="{searchShow: false}">
        <div class="oh-main__titlebar oh-main__titlebar--left">
            <h1 class="oh-main__titlebar-title fw-bold">{% trans "Asset Category" %}</h1>
            <a class="oh-main__titlebar-search-toggle" role="button" aria-label="Toggle Search"
                @click="searchShow = !searchShow">
                <ion-icon name="search-outline" class="oh-main__titlebar-serach-icon"></ion-icon>
            </a>
        </div>
        <div class="oh-main__titlebar oh-main__titlebar--right">
            <div class="oh-input-group oh-input__search-group "
                :class="searchShow ? 'oh-input__search-group--show' : ''">
                <!-- search form start -->
                <form id="searchForm"  hx-get="{% url 'asset-category-view-search-filter' %}?asset_list=asset" hx-target="#assetCategoryList">
                    <ion-icon name="search-outline" class="oh-input-group__icon oh-input-group__icon--left"></ion-icon>
                    <input name="search" type="text" class="oh-input oh-input__icon " aria-label="Search Input" placeholder="{% trans 'Search' %}" />
                    <select size="2" name="type" class='oh-input__icon'
                      onclick="document.getElementById('searchForm').dispatchEvent(new Event('submit'));"
                      style="border: none;overflow: hidden; display: flex; position: absolute; z-index: 999; margin-left:8%;" 
                      >
                        <option value="asset">{% trans "Search in :Asset" %}</option>
                        <option value="category" >{% trans "Search in :Asset Category" %}</option>
                    </select>
                </form>
                <!-- end of search -->
            </div>
            <div class="oh-main__titlebar-button-container">
                <a href="{% url 'asset-batch-view'%}">
                    <button class="oh-btn ml-2"> <ion-icon name="list-outline" class="me-1"></ion-icon>{% trans "Batch No" %}</button>
                </a>
                <!-- import asset start  -->
                <div class="oh-dropdown" >
                    
                        <button class="ml-2" id="import-button" style='border:none'>
                            <a href="#" id="asset-info-import" class="button-link" onclick="return confirm('{% trans "Do you want to download template ?" %}')"><ion-icon name="arrow-down-outline" class="me-1"></ion-icon> {% trans "Import" %}</a>
                        </button>
                    <div class="oh-dropdown__import oh-dropdown__import--right " style="display: none;" id ="import-dropdown" >
                        <button class="oh-modal__close close-import"  aria-label="Close">
                            <ion-icon name="close-outline"></ion-icon>
                          </button>
                        <div id="AssetImportResponse"></div>
                        <form action="{%url 'asset-import' %}" enctype="multipart/form-data" method="post">
                            {% csrf_token %}
                            <div class="oh-dropdown__import-form">
                                <label class="oh-dropdown__import-label" for="uploadFile">
                                    <ion-icon name="cloud-upload" class="oh-dropdown__import-form-icon"></ion-icon>
                                    <span class="oh-dropdown__import-form-title">{% trans "Upload a File" %}</span>
                                    <span class="oh-dropdown__import-form-text">{% trans "Drag and drop files here" %}</span>
                                </label>
                                <input type="file" name="asset_import" id="" />
                            </div>
                            <button type="submit"
                                class="oh-btn oh-btn--small oh-btn--secondary w-100 mt-3">{% trans "Upload" %}</button>
                        </form>
                    </div>
                </div>
                <!-- import asset end  -->
                <!-- asset export start  -->
                <div class="oh-dropdown" x-data="{open: false}">
                        <button class="oh-btn ml-2" @click="open = !open">
                            <ion-icon name="arrow-up-outline" class="me-1"></ion-icon> {% trans "Export" %}
                        </button>
                    <div class="oh-dropdown__menu oh-dropdown__menu--right oh-dropdown__filter p-4" x-show="open"
                        @click.outside="open = false" style="display: none;">
                        <form action="{% url 'asset-export-excel' %}" method="post">
                            {% csrf_token %}
                            <div class="oh-dropdown__filter-body">
                                <div class="oh-accordion">
                                    <div class="oh-accordion-header ">{% trans "Asset" %}</div>
                                    <div class="oh-accordion-body">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12 col-lg-6">
                                                <div class="oh-input-group">
                                                    <label class="oh-label">{% trans "Asset Name" %}</label>
                                                    {{asset_export_filter.form.asset_name}}
                                                </div>
                                                <div class="oh-input-group">
                                                    <label class="oh-label">{% trans "Status" %}</label>
                                                    {{asset_export_filter.form.asset_status}}
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-12 col-lg-6">
                                                <div class="oh-input-group">
                                                    <label class="oh-label">{% trans "Tracking Id" %}</label>
                                                    {{asset_export_filter.form.asset_tracking_id}}
                                                </div>
                                                <div class="oh-input-group">
                                                    <label class="oh-label">{% trans "Purchased Date" %}</label>
                                                    {{ asset_export_filter.form.asset_purchase_date | attr:"type:date"}}
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-12 col-lg-6">
                                                <div class="oh-input-group">
                                                    <label class="oh-label">{% trans "Category" %}</label>
                                                    {{asset_export_filter.form.asset_category_id}}
                                                </div>

                                            </div>
                                            <div class="col-sm-12 col-md-12 col-lg-6">
                                                <div class="oh-input-group">
                                                    <label class="oh-label">{% trans "Batch Number" %}</label>
                                                    {{asset_export_filter.form.asset_lot_number_id}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="oh-dropdown__filter-footer">
                                <button class="oh-btn oh-btn--secondary oh-btn--small ">{% trans "Export" %}</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!--  asset export end  -->
                <!--  asset filter  -->
                <div class="oh-dropdown" x-data="{open: false}">
                    <button class="oh-btn ml-2" @click="open = !open">
                        <ion-icon name="filter" class="mr-1"></ion-icon>{% trans "Filter" %}<div id="filterCount"></div>
                    </button>
                    <div class="oh-dropdown__menu oh-dropdown__menu--right oh-dropdown__filter p-4" x-show="open"
                        @click.outside="open = false" style="display: none;">
                            <div class="oh-dropdown__filter-body">
                                <div class="oh-accordion">
                                    <div class="oh-accordion-header">{% trans "Asset Category" %}</div>
                                    <div class="oh-accordion-body">
                                        <form hx-get="{%url 'asset-category-view-search-filter' %}" hx-target="#assetCategoryList" hx-swap="innerHTML" id="filterForm">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12 col-lg-12">
                                                <div class="oh-input-group">
                                                    <label class="oh-label">{% trans "Category Name" %}</label>
                                                    {{asset_category_filter_form.asset_category_name}}
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-12 col-lg-12">
                                                <div class="oh-input-group">
                                                    <label class="oh-label">{% trans "Description" %}</label>
                                                    {{asset_category_filter_form.asset_category_description}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="oh-dropdown__filter-footer">
                                            <button class="oh-btn oh-btn--secondary oh-btn--small  w-100 filterButton">{% trans "Filter" %}</button>
                                        </div>
                                    </form>
                                    </div>
                                </div>
                                <div class="oh-accordion">
                                    <div class="oh-accordion-header">{% trans "Asset" %}</div>
                                    <div class="oh-accordion-body">
                                        <form hx-get="{%url 'asset-list' cat_id=0 %}?asset_list='asset'" name="asset_list" hx-target="#assetCategoryList" hx-swap="innerHTML" id="filterForm2">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12 col-lg-6">
                                                <div class="oh-input-group">
                                                    <label class="oh-label">{% trans "Asset Name" %}</label>
                                                    {{asset_filter_form.asset_name}}
                                                </div>
                                                <div class="oh-input-group">
                                                    <label class="oh-label">{% trans "Tracking Id" %}</label>
                                                    {{asset_filter_form.asset_tracking_id}}
                                                </div>

                                            </div>
                                            <div class="col-sm-12 col-md-12 col-lg-6">
                                                <div class="oh-input-group">
                                                    <label class="oh-label">{% trans "Purchase Date" %}</label>
                                                    {{asset_filter_form.asset_purchase_date |attr:"type:date"}}
                                                </div>
                                                <div class="oh-input-group">
                                                    <label class="oh-label">{% trans "Purchase Cost" %}</label>
                                                    {{asset_filter_form.asset_purchase_cost}}
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-12 col-lg-6">
                                                <div class="oh-input-group">
                                                    <label class="oh-label">{% trans "Asset Batch Number" %}</label>
                                                    {{asset_filter_form.asset_lot_number_id}}
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-12 col-lg-6">
                                                <div class="oh-input-group">
                                                    <label class="oh-label">{% trans "Category" %}</label>
                                                    {{asset_filter_form.asset_category_id}}
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-12 col-lg-12">
                                                <div class="oh-input-group">
                                                    <label class="oh-label">{% trans "Status" %}</label>
                                                    {{asset_filter_form.asset_status}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="oh-dropdown__filter-footer">
                                            <button class="oh-btn oh-btn--secondary oh-btn--small  w-100 filterButton">{% trans "Filter" %}</button>
                                        </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                <!-- asset filter end -->
                <div class="oh-btn-group ml-2">
                    <div>
                        <a  href="#" class="oh-btn oh-btn--secondary oh-btn--shadow" 
                            data-toggle="oh-modal-toggle"
                            data-target="#AssetCategoryModal" 
                            hx-get="{%url 'asset-category-creation' %}"
                            hx-target="#AssetModal"> 
                            <ion-icon class="me-2" name="add-outline"></ion-icon>
                            {% trans "Create" %}
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
<div class="oh-wrapper">
    <div id="assetCategoryList">
        <!-- including asset category -->
        {% include 'category/asset_category.html' %}
    </div>
</div>
</main>

<div class="oh-modal" id="AssetCategoryModal" role="dialog" aria-labelledby="AssetCategoryModal" aria-hidden="true">
    <div class="oh-modal__dialog" id="AssetModal">
           
    </div>
</div>

<div class="oh-modal" id="assetInfoModal" role="dialog" aria-labelledby="assetModalLabel" aria-hidden="true">
    <div class="oh-modal__dialog">
        <div class="oh-modal__dialog-header">
            <span class="oh-modal__dialog-title" id="assetModalLabel">{{asset.asset_name}}</span>
            <button class="oh-modal__close" aria-label="Close" >
                <ion-icon name="close-outline"></ion-icon>
            </button>
        </div>
        <div class="oh-modal__dialog-body">
            <section id="assetInfomation">
            </section>
        </div>
    </div>
</div>


<script src="{% static '/base/filter.js' %}"></script>
<script src="{% static 'src/asset_category/assetCategoryView.js' %}"></script>
{% endblock %}