{% load basefilters static i18n %}
<style>
	tr span.txt {
		display:none;
	}
</style>
{% is_manager_of request.user instance as can_manage %}
{% if perms.base.change_shiftrequest or can_manage %}
	<div class="oh-btn-group w-100">
		{% if instance.approved or instance.canceled %}
			<a
				href="#"
				class="w-24 px-4 py-2 bg-primary-600 text-white rounded-md text-xs flex items-center justify-center gap-2 hover:bg-primary-800 transition duration-300 oh-btn--disabled"
			>
			<img src="{% static 'horilla_theme/assets/img/icons/check.svg' %}" alt="{% trans 'Approve' %}" width="13"
			class="filter brightness-0 invert" />
			{% trans 'Approve' %}
			</a>
		{% else %}
			<a
				href="{% url 'shift-request-approve' instance.id %}"
				onclick="return confirm(`{% trans 'Do you want to approve this request?' %}`)"
				class="w-24 px-4 py-2 bg-primary-600 text-white rounded-md text-xs flex items-center justify-center gap-2 hover:bg-primary-800 transition duration-300"
			>
			<img src="{% static 'horilla_theme/assets/img/icons/check.svg' %}" alt="{% trans 'Approve' %}" width="13"
			class="mt-[-1px]" />
				{% trans 'Approve' %}
			</a>
		{% endif %}

		{% if instance.canceled %}
			<a
				type="submit"
				href="#"
				class="w-24 px-4 py-2 bg-white rounded-md text-xs flex items-center justify-center gap-2 border border-primary-500 hover:border-primary-600 transition duration-300 oh-btn--disabled"
			>
			<img src="{% static 'horilla_theme/assets/img/icons/close-circle-icon-original.svg' %}" alt="{% trans 'Reject' %}" width="13"
			class="mt-[-1px]" />
			/>{% trans 'Reject' %}
			</a>
		{% else %}
			<a
				href="{% url 'shift-request-cancel' instance.id %}"
				onclick="return confirm(`{% trans 'Do you want to reject this request?' %}`)"
				class="w-24 px-4 py-2 bg-white rounded-md text-xs flex items-center justify-center gap-2 border border-primary-500 hover:border-primary-600 transition duration-300"
			>
				<img src="{% static 'horilla_theme/assets/img/icons/close-circle-icon-original.svg' %}" alt="{% trans 'Reject' %}" width="13"
			class="mt-[-1px]" />
			/>{% trans 'Reject' %}
			</a>
		{% endif %}

{% endif %}
