{% load basefilters i18n static %}

{% with is_locked=instance.approved|yesno:"1,0"|add:instance.canceled %}
    {# EDIT BUTTON #}
    <a
        {% if not is_locked %}
            hx-get="{% url 'shift-request-update' instance.id %}"
            hx-target="#genericModalBody"
            data-toggle="oh-modal-toggle"
            data-target="#genericModal"
        {% endif %}
        class="
            oh-btn oh-btn--light-bkg oh-btn--secondary
            w-24 px-4 py-2 rounded-md text-xs flex items-center justify-center gap-2
            transition duration-300 {% if is_locked %}opacity-60 pointer-events-none{% endif %}
        "
    >
        <ion-icon name="create-outline"></ion-icon>
        {% trans "Edit" %}
    </a>

    {# DELETE BUTTON #}
    <a
        {% if not is_locked %}
            hx-confirm="{% trans 'Are you sure you want to delete this shift request?' %}"
            hx-post="{% url 'shift-request-delete' instance.id %}?instances_ids={{ request.session.ordered_ids_shiftrequest }}"
            hx-target="#genericModalBody"
        {% endif %}
        class="
            w-24 px-4 py-2 bg-danger text-white rounded-md text-xs flex items-center justify-center gap-2
            transition duration-300
            {% if is_locked %}
            opacity-60 pointer-events-none
            {% else %}
            hover:bg-danger-dark
            {% endif %}
        "
    >
        <img src="{% static 'horilla_theme/assets/img/icons/trash.svg' %}" width="16" class="mt-[-1px] filter brightness-0 invert">
        {% trans "Delete" %}
    </a>
{% endwith %}

{% if request.GET.deleted %}
    <script>
        $("#reloadMessagesButton").click();
        $(".reload-record").click();
    </script>
{% endif %}
