.oh-dropdown {
  position: relative;
}
.oh-dropdown__menu,
.oh-dropdown__import {
  position: absolute;
  min-width: 200px;
  background-color: $white;
  padding: 0px 15px;
  border-radius: 0rem;
  color: $text-color;
  border: 1px solid $light-button-color;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  z-index: 999;
}
.oh-dropdown__menu--hidden{
  display: none;
}
.oh-dropdown__menu--right,
.oh-dropdown__import--right {
  right: 0;
}
.oh-dropdown__import {
  width: 350px;
  padding-top: 1rem;
  padding-bottom: 1rem;

  @media (max-width: 575.98px) {
    width: 95%;
    position: fixed;
    left: 10px;
    right: unset;
  }
}
.oh-dropdown__import-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  border: 1px dashed $border-color;
  padding: 1rem;
  background: rgba($border-light-color, 0.2);
  cursor: pointer;
  &:hover {
    background: rgba($border-light-color, 0.4);
  }
}
.oh-dropdown__import-form-icon {
  font-size: 4rem;
  color: rgba($text-color, 0.85);
}
.oh-dropdown__import-form-title {
  font-size: 1rem;
  font-weight: bold;
  color: rgba($text-color, 0.85);
}
.oh-dropdown__import-form-text {
  font-size: 0.85rem;
  color: $light-text-color;
}
.oh-dropdown__menu--top-100 {
  top: 100%;
}
.oh-dropdown__menu hr {
  border-style: solid;
  border-color: $light-button-color;
}
.oh-dropdown__items {
  list-style-type: none;
  padding-left: 0;
}
.oh-dropdown__item {
  margin-top: 15px;
  margin-bottom: 15px;
}
.oh-dropdown__link {
  color: $text-color !important;
  display: block;
  width: 100%;
  height: 100%;
  &:hover {
    color: $secondary-color !important;
    text-decoration: none !important;
  }
  @media (max-width: 575.98px) {
    font-size: 0.85rem;
  }
}
.oh-dropdown__link--danger {
  color: $danger-color !important;
  border: none;
  background-color: transparent;
  padding: 0;
  width: unset;
  text-align: left;
  &:hover {
    color: rgba($danger-color, 0.9) !important;
  }
}
.oh-dropdown__footer {
  display: flex;
  align-items: center;
  * {
    flex-shrink: 0;
  }
}
.oh-dropdown__menu--dark-border {
  border: 1px solid $border-color;
}
.oh-dropdown__menu--highlight {
  border-color: $border-color;
  box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
}
.oh-tabs__action-dropdown {
  min-width: 300px;
  max-width: 400px;
  padding: 0.25rem;
}
.oh-dropdown__header {
  font-weight: bold;
  display: block;
  width: 100%;
  border-bottom: 1px solid rgba($border-light-color, 0.4);
  padding-bottom: 0.4rem;
  margin-bottom: 1rem;
}
.oh-dropdown__filter {
  min-width: 500px;

  @media (max-width: 767.98px) {
    min-width: 250px;
    left: 0;
    right: unset;
  }
}

.oh-dropdown__menu--top-align {
  @media (min-width: 1200px) {
    bottom: 0;
    right: 130px;
    transform: translateY(20%);
  }
}
.oh-dropdown__lang-icon{
  width: 22px;
  height: 22px;
  margin-right: 10px;
}
