.oh-kanban {
  width: 100%;
  border-top: 1px solid $border-color;
  display: flex;
  align-items: flex-start;
  min-height: calc(100vh - 180px);
  height: calc(100vh - 245px);
  padding-top: 0;
  overflow: auto;
}
.oh-kanban__section {
  width: 250px;
  margin-right: 1.5rem;
  flex-shrink: 0;
  &:last-child {
    margin-right: 0;
  }
}
.oh-kanban {
  .ui-sortable-placeholder {
    min-height: calc(100vh - 245px);
  }
}
.oh-kanban__add-container {
  padding-top: 0.5rem;
  top: 0;
  position: sticky;
}
.oh-kanban__section-title {
  font-size: 1rem;
  font-weight: bold;
}
.oh-kanban__section-head {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  margin-bottom: 0.5rem;
  background-color: $background-color;
  position: sticky;
  min-height: 50px;
  top: 0;
  z-index: 3;
}
.oh-kanban__section-head--white {
  background-color: $white-color !important;
}
.oh-kanban__head-actions {
  display: flex;
  align-items: center;
}
.oh-kanban__btn {
  padding: 0;
  font-size: 1rem;
  margin-right: 0.5rem;

  &:last-child {
    margin-right: 0;
  }
}
.oh-kanban__card {
  background-color: $white;
  border: 1px solid $border-color;
  border-bottom: none;
  width: 100%;
  flex-shrink: 0;
  // overflow: hidden;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
      rgba(0, 0, 0, 0.02) 0px 1px 2px 0px;
  }
  &:last-child {
    border-bottom: 1px solid $border-color;
  }
}
.oh-kanban__card-head,
.oh-kanban__card-footer {
  padding: 0.75rem;
}
.oh-kanban__card-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.oh-kanban__card-body {
  position: relative;
  padding: 0 0.75rem;
}
.oh-kanban__card-footer-text {
  font-size: 0.8rem;
}
.oh-kanban__section-body {
  width: 100%;
  min-height: calc(100vh - 245px);
}
.oh-kanban__add-section {
  min-width: 225px;
  font-size: 0.85rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid $border-light-color;

  &:hover {
    border: 1px solid $border-color;
  }
}
.oh-kanban__add-dialog,
.oh-kanban__add-card-container {
  padding: 0.75rem;
}
.oh-kanban__section--highlight {
  background-color: hsl(185, 68%, 98%);
  border: 1px dashed hsl(185, 68%, 42%);
  width: calc(250px + 1rem);
  height: calc(100vh - 180px);
}
.oh-kanban__card--highlight {
  background-color: hsl(185, 68%, 98%);
  border: 1px dashed hsl(185, 68%, 42%);
  width: 250px;
  height: 100px;
}
.oh-kanban-group-container {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
  height: calc(100vh - 180px);
  overflow-x: auto;
  @media (max-width: 767.98px) {
  }
}
.oh-kanban-group {
  min-width: 300px;
  max-width: calc(33.33% - 0.5rem);
  margin-right: 1rem;
  flex-shrink: 0;
}

.oh-kanban-group .oh-kanban-card {
  margin-bottom: 1rem;

  &:last-child {
    margin-bottom: 0;
  }
}
.oh-kanban-group__head {
  position: relative;
  margin-bottom: 1.25rem;
  width: 100%;
  padding: 0.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &:hover {
    background-color: $border-light-color;
  }
}
.oh-kanban-group__add-card {
  font-size: 1.25rem;
  padding: 0;
}
.oh-kanban-card--collapsed {
  .oh-kanban-group__add-card {
    display: none;
  }
}
.oh-kanban-gorup__title {
  font-weight: bold;
}

.oh-kanban-card--collapsed.oh-kanban-group {
  min-width: 30px;
}
.oh-kanban-card--collapsed .oh-kanban-group__head {
  background-color: $border-light-color;
  position: relative;
  height: calc(100vh - 200px);
  width: 35px;

  &::before {
    content: "";
    width: 18px;
    height: 18px;
    display: block;
    position: absolute;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIGZpbGw9Im5vbmUiIHN0cm9rZT0iIzdkN2Q3ZCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIiBzdHJva2Utd2lkdGg9IjEuNSIgdmlld0JveD0iMCAwIDI0IDI0IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogIDxwYXRoIGQ9Ik01Ljk5NCAxNiAyIDEyLjAwMyA2IDgiPjwvcGF0aD4KICA8cGF0aCBkPSJNMTguMDA2IDggMjIgMTEuOTk3IDE4IDE2Ij48L3BhdGg+CiAgPHBhdGggZD0iTTIgMTJoMjAiPjwvcGF0aD4KPC9zdmc+");
    background-repeat: no-repeat;
    background-size: contain;
    bottom: 10px;
  }

  &:hover {
    background-color: $border-color;
  }
}
.oh-kanban-card--collapsed .oh-kanban-gorup__title {
  transform-origin: 0 0;
  transform: rotate(-90deg);
  position: absolute;
  width: calc(100vh - 260px);
  left: 0;
  bottom: 0px;
  left: 5px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.oh-kanban-card--collapsed .oh-kanban-group__body {
  display: none;
}
.oh-kanban__card--status {
  position: relative;
  margin-top: 1rem;

  &::before {
    content: "";
    width: 100%;
    height: 4px;
    position: absolute;
    left: 0px;
    bottom: 0px;
  }

  &:first-child {
    margin-top: 0;
  }
}
.oh-kanban__card--blue {
  &::before {
    content: "";
    background-color: $alert-color-hlt-info;
  }
}
.oh-kanban__card--red {
  &::before {
    content: "";
    background-color: $alert-color-hlt-danger;
  }
}
.oh-kanban__card--amber {
  &::before {
    content: "";
    background-color: $alert-color-hlt-warning;
  }
}
.oh-kanban__card--green {
  &::before {
    content: "";
    background-color: $success-color-dark;
  }
}
.oh-kanban__card-body-collapse {
  width: 24px;
  height: 24px;
  display: inline-block;
  border: none;
  background-color: $background-color;
  border-radius: 5px;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjgiIGhlaWdodD0iMjgiIGZpbGw9IiM2OTY5NjkiIHZpZXdCb3g9IjAgMCAyNCAyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICA8cGF0aCBkPSJtNyAxNC41IDUtNSA1IDVIN1oiPjwvcGF0aD4KPC9zdmc+");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  right: 10px;

  &:hover {
    background-color: $light-grey;
  }
}
.oh-kanban__card-collapse--down {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjgiIGhlaWdodD0iMjgiIGZpbGw9IiM2OTY5NjkiIHZpZXdCb3g9IjAgMCAyNCAyNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICA8cGF0aCBkPSJtNyA5LjUgNSA1IDUtNUg3WiI+PC9wYXRoPgo8L3N2Zz4=") !important;
}
.oh-kanban__card-content--hide {
  display: none;
}


//
