{% load i18n %}
{% csrf_token %}
<div class="oh-inner-sidebar-content__header mt-4">
    <h2 class="oh-inner-sidebar-content__title">{% trans 'Badge Prefix' %}</h2>
</div>
<form  action="{% url 'initial-prefix' %}" method="post">
    {% csrf_token %}
  <div class="oh-label__info" for="application_tracking">
    <label class="oh-label" for="application_tracking">{% trans "Prefix" %}</label>
    <span class="oh-info mr-2" title="{% trans "Set intial badge-id" %}">
    </span>
  </div>
    <input type="text" class="oh-input w-25" name="initial_prefix" value="{{get_initial_prefix}}"{% if enabled_resignation_request %} checked{% endif %} />
    <button style="display: inline;margin-left: 10px;" type="submit" class="oh-btn oh-btn--secondary mt-2 mr-0 oh-btn--w-100-resp">
        {% trans "Save Changes" %}
    </button>
</form>
<div class="oh-inner-sidebar-content__footer"></div>
