{% load i18n %}
{% load recruitmentfilters %}
{% load onboardingfilters %}

<ul class="oh-tabs__tablist">
    {% for rec in recruitments %}

            <li class="oh-tabs__tab"  {% if rec.closed %} style="text-decoration: line-through;" {% endif %} data-target="#tab_{{rec.id}}" data-recruitment-id="{{rec.id}}" {% if request.user|recruitment_manages:rec %} style="background-color: hsl(38.08deg 100% 50% / 8%);" {% endif %}>
                {{rec.title}}
                <span
                    class="oh-badge oh-badge--secondary oh-badge--small oh-badge--round ms-2 mr-2" title="{{rec.stages|length}} {% trans 'Stages' %}" onclick="event.stopPropagation()">
                    {{rec.stages|length}}
                </span>
            </li>
    {% endfor %}
</ul>
