{% extends 'index.html' %} {% block content %} {% load static %}

<div class="oh-wrapper d-flex justify-content-center mt-4 mb-4">
  <form action="" class="oh-onboarding-card" method="post">
    {% csrf_token %} {{form.as_p}}
  </form>
</div>

<script>
  function toggleFunction() {
    if ($("#id_calculate_daily_leave_amount").is(":checked")) {
      $(
        "#id_deduction_for_one_leave_amount,[for=id_deduction_for_one_leave_amount]"
      ).hide();
    } else {
      $(
        "#id_deduction_for_one_leave_amount,[for=id_deduction_for_one_leave_amount]"
      ).show();
    }
    if ($("#id_calculate_daily_leave_amount").is(":checked")) {
      $("#id_deduction_for_one_leave_amount").parent().hide();
    } else {
      $("#id_deduction_for_one_leave_amount").parent().show();
    }
  }
  function contractInitial(element) {
    var employee_id = $(element).val();
    $.ajax({
      type: "GET",
      url: "{% url 'contract-info-initial' %}",
      data: { employee_id: employee_id },
      success: function (response) {
        var data;
        data = response;
        const change = new Event('change');
        $("#id_department").val(data.department);
        document.getElementById("id_department").dispatchEvent(change)
        $("#id_job_position").val(data.job_position);
        document.getElementById("id_job_position").dispatchEvent(change)
        $("#id_job_role").val(data.job_role);
        document.getElementById("id_job_role").dispatchEvent(change)
        $("#id_shift").val(data.shift);
        document.getElementById("id_shift").dispatchEvent(change)
        $("#id_work_type").val(data.work_type);
        document.getElementById("id_work_type").dispatchEvent(change)
        $("#id_wage").val(data.wage);
        document.getElementById("id_wage").dispatchEvent(change)
        $("#id_contract_start_date").val(data.contract_start_date);
        document.getElementById("id_contract_start_date").dispatchEvent(change)
        $("#id_contract_end_date").val(data.contract_end_date);
        document.getElementById("id_contract_end_date").dispatchEvent(change)
      },
    });
  }

  $(document).ready(function () {
    $("[type=checkbox]").change(function (e) {
      e.preventDefault();
      toggleFunction();
    });
  });
  toggleFunction();
</script>
{% endblock content %}
