{% load i18n static %}
{% if object_list %}
<div class="accordion-wrapper space-y-2">
    <!-- Accordion Item -->
    {% for obj in object_list %}
        <div class="accordion-item border border-primary-300 rounded-md overflow-hidden">
            <button
                class="accordion-btn w-full flex justify-between items-center px-4 py-2 text-sm transition-all bg-[#fff5f1] text-[#e54f38]"
                {% if obj.get_panel_hx_url %} hx-get="{{ obj.get_panel_hx_url }}" hx-target="#accordionPanel{{ obj.id }}"
                hx-trigger="doRequest" _="on click if isElementVisible(me) trigger doRequest"
                hx-on:click="toggleAccordion(this)" {% endif %}>

                <div class="flex items-center gap-2">
                    {% if obj.get_panel_count %}
                        <span class="w-6 h-6 bg-primary-600 rounded-full text-white flex items-center justify-center text-xs"
                            title="{{ obj.get_panel_count }}">
                            {{ obj.get_panel_count }}
                        </span>
                    {% endif %}
                    {{ obj }}
                </div>

                <div class="flex items-center gap-5">
                    <span onclick="event.stopPropagation();">
                        <div class="inline-block dropdown-wrapper text-md">
                            <a class="cursor-pointer dropdown-toggle">
                                <i class="fa-solid fa-ellipsis-vertical "></i>
                            </a>
                            <!-- Start of Dropdown Content -->
                            <div
                                class="dropdown-menu absolute right-[85px] min-w-[100px] bg-white rounded-lg shadow-card py-2 hidden z-50 transition-all duration-200">
                                {{ obj.dropdown_actions|safe }}
                            </div>
                            <!-- End of Dropdown Content -->
                        </div>
                    </span>
                    <span class="icon text-xl font-bold">+</span>
                </div>
            </button>
            <div class="accordion-panel max-h-0 overflow-hidden transition-all duration-300 bg-white px-4 text-sm text-gray-700"
                id="accordionPanel{{ obj.id }}" style="max-height: 0px;"></div>
        </div>
    {% endfor %}

    {% if is_paginated %}
        <div class="flex justify-between sticky bottom-0 items-center mt-4 w-full inset-0">
            <p class="text-xs text-[#666]">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </p>
            <div class="flex gap-3 text-[#666] items-center">
                {% if page_obj.has_previous %}
                    <button class="text-xs hover:text-primary-600 transition duration-300"
                        hx-get="?{{ pd }}&page={{ page_obj.previous_page_number }}" hx-target="#accordionWrapper">
                        <i class="fa-solid fa-arrow-left"></i>
                    </button>
                {% endif %}
                {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
                {% if page_obj.has_next %}
                    <button class="text-xs hover:text-primary-600 transition duration-300"
                        hx-get="?{{ pd }}&page={{ page_obj.next_page_number }}" hx-target="#accordionWrapper">
                        <i class="fa-solid fa-arrow-right"></i>
                    </button>
                {% endif %}
            </div>
        </div>
    {% endif %}
</div>
<script>
    function isElementVisible(element) {
        const $targetSelector = $(element).attr("hx-target");
        const $targetEl = $($targetSelector);
        const isOpen = $targetEl.css("max-height") && $targetEl.css("max-height") !== "0px";

        return !isOpen;
    }
</script>
{% else %}
    <div class="oh-empty">
        <img src="{% static 'images/ui/search.svg' %}" class="oh-404__image" alt="Page not found. 404." />
        <h1 class="oh-empty__title">{% trans "No Records found." %}</h1>
        <p class="oh-empty__subtitle">{% trans "No tax filing status has been recorded." %}</p>
    </div>
{% endif %}
