{% extends 'index.html' %} {% block content %} {% load i18n %}
<div class="oh-payslip">
  {% if perms.payroll.change_payslip %}
  <div class="oh-payslip__header">
    <div class="oh-payslip__header-left">
      <div class="oh-payslip__title oh-payslip__title--h2">
        <select name="status" class="oh-select" id="id_status">
          {% if instance %}
          <option value="{{instance.status}}" selected>
            {{instance.get_status_display }}
          </option>
          {% else %}
          <option value="draft" selected>{% trans "Draft" %}</option>
          {% endif %}
          <option value="review_ongoing">{% trans "Review Ongoing" %}</option>
          <option value="confirmed">{% trans "Confirmed" %}</option>
          <option value="paid">{% trans "paid" %}</option>
        </select>
      </div>
    </div>
    <div class="oh-payslip__net-payable-right" style="min-width: 20px; height: 35px; border: 1px solid hsl(213,22%,84%);">
      <a href="{% url 'payslip-pdf' instance.id %}" type="button" title="{% trans 'Download' %}" class="oh-btn oh-btn--gray-bkg" style="height: 9px;"> <ion-icon name="download"></ion-icon></a>
    </div>
  </div>
  {% endif %}
  <div class="oh-payslip__header">
    <div class="oh-payslip__header-left">
      <h1 class="oh-payslip__title oh-payslip__title--h1">
        {% trans "Payslip" %}
      </h1>
      <h2 class="oh-payslip__title oh-payslip__title--h2">{{range}}</h2>
    </div>
    <div class="oh-payslip__header-left">
      <img
        src="{{employee.employee_work_info.company_id.icon.url}}"
        style="width: 50px"
      />
    </div>
  </div>
  <div class="oh-payslip__body">
    <!-- Payslip Summary -->
    <div class="oh-payslip__summary">
      <div class="oh-payslip__user-detail">
        <h3 class="oh-payslip__employee-title">
          {% trans "Employee Details" %}
        </h3>
        <ul class="oh-payslip__employee-details">
          <li class="oh-payslip__employee-detail">
            <span class="oh-payslip__employee-detail-title"
              >{% trans "Employee ID" %}</span
            >
            <span class="oh-payslip__employee-detail-value"
              >{{employee.badge_id}}</span
            >
          </li>
          <li class="oh-payslip__employee-detail">
            <span class="oh-payslip__employee-detail-title"
              >{% trans "Employee Name" %}</span
            >
            <span class="oh-payslip__employee-detail-value">{{employee}}</span>
          </li>
          <li class="oh-payslip__employee-detail">
            <span class="oh-payslip__employee-detail-title"
              >{% trans "Department" %}</span
            >
            <span class="oh-payslip__employee-detail-value"
              >{{employee.employee_work_info.department_id.department}}</span
            >
          </li>
          <li class="oh-payslip__employee-detail">
            <span class="oh-payslip__employee-detail-title"
              >{% trans "Bank Acc./Cheque No." %}</span
            >
            <span class="oh-payslip__employee-detail-value"
              >{{employee.employee_bank_details.account_number}}</span
            >
          </li>
        </ul>
      </div>

      <div class="oh-payslip__netpay">
        <span class="oh-payslip__netpay-title"
          >{% trans "Employee Net Pay" %}</span
        >
        <span class="oh-payslip__netpay-amount"
          >{{currency}}{{net_pay|floatformat:2}}</span
        >
      </div>
    </div>
    <!-- End of Payslip Table -->

    <!-- Payslip Table -->
    <div class="oh-payslip__table-container">
      <table class="oh-payslip__table">
        <thead class="oh-payslip__table-thead">
          <tr class="oh-payslip__table-row">
            <th class="oh-payslip__table-th">{% trans "Allowances" %}</th>
            <th class="oh-payslip__table-th">{% trans "Amount" %}</th>
          </tr>
        </thead>
        <tbody class="oh-payslip__table-tbody">
          <tr class="oh-payslip__table-tr">
            <td
              class="oh-payslip__table-td"
              title="Some deductions will update basic pay before payslip calculation starts, eg: LOP is Deduducted from basic pay if 'Deduct leave from basic pay' field is enabled on the contract, and also with the update compensation deduction through"
            >
              {% trans "Basic Pay" %}
            </td>
            <td class="oh-payslip__table-td" colspan="2">
              {{currency}}{{basic_pay|floatformat:2}}
            </td>
          </tr>
          {% for allowance in allowances %}
          <tr>
            <td class="oh-payslip__table-td">{{allowance.title}}</td>
            <td class="oh-payslip__table-td">
              {{currency}}{{allowance.amount|floatformat:2}}
            </td>
          </tr>
          {% endfor %}
        </tbody>
        <tfoot class="oh-payslip__table-tfoot">
          <tr class="oh-payslip__table-tr">
            <th
              class="oh-payslip__table-tf"
              title="Some Deduction will update the total gross pay using the deductions that are enabled update compensation"
            >
              {% trans "Total Gross Pay" %}
            </th>
            <th class="oh-payslip__table-tf">
              {{currency}}{{gross_pay|floatformat:2}}
            </th>
          </tr>
        </tfoot>
      </table>

      <table class="oh-payslip__table">
        <thead class="oh-payslip__table-thead">
          <tr class="oh-payslip__table-row">
            <th class="oh-payslip__table-th">{% trans "Deductions" %}</th>
            <th class="oh-payslip__table-th">{% trans "Amount" %}</th>
          </tr>
        </thead>
        <tbody class="oh-payslip__table-tbody">
          <tr class="oh-payslip__table-tr">
            <td class="oh-payslip__table-td">{% trans "Loss of Pay" %}</td>
            <td class="oh-payslip__table-td">
              {{currency}}{{loss_of_pay|floatformat:2}}
            </td>
          </tr>
          {% for deduction in basic_pay_deductions %}
          <tr class="oh-payslip__table-tr">
            <td class="oh-payslip__table-td">{{deduction.title}}</td>
            <td class="oh-payslip__table-td">
              {{currency}}{{deduction.amount|floatformat:2}}
            </td>
          </tr>
          {% endfor %} {% for deduction in gross_pay_deductions %}
          <tr class="oh-payslip__table-tr">
            <td class="oh-payslip__table-td">{{deduction.title}}</td>
            <td class="oh-payslip__table-td">
              {{currency}}{{deduction.amount|floatformat:2}}
            </td>
          </tr>
          {% endfor %} {% for deduction in pretax_deductions %}
          <tr class="oh-payslip__table-tr">
            <td class="oh-payslip__table-td">{{deduction.title}}</td>
            <td class="oh-payslip__table-td">
              {{currency}}{{deduction.amount|floatformat:2}}
            </td>
          </tr>
          {% endfor %} {% for deduction in post_tax_deductions %}
          <tr class="oh-payslip__table-tr">
            <td class="oh-payslip__table-td">{{deduction.title}}</td>
            <td class="oh-payslip__table-td">
              {{currency}}{{deduction.amount|floatformat:2}}
            </td>
          </tr>
          {% endfor %}

          <tr class="oh-payslip__table-tr">
            <td class="oh-payslip__table-td">{% trans "Federal Tax" %}</td>
            <td class="oh-payslip__table-td">
              {{currency}}{{federal_tax|floatformat:2}}
            </td>
          </tr>

          {% for deduction in tax_deductions %}
          <tr class="oh-payslip__table-tr">
            <td class="oh-payslip__table-td">{{deduction.title}}</td>
            <td class="oh-payslip__table-td">
              {{currency}}{{deduction.amount|floatformat:2}}
            </td>
          </tr>
          {% endfor %} {% for deduction in net_deductions %}
          <tr class="oh-payslip__table-tr">
            <td class="oh-payslip__table-td">{{deduction.title}}</td>
            <td class="oh-payslip__table-td">
              {{currency}}{{deduction.amount|floatformat:2}}
            </td>
          </tr>
          {% endfor %}
        </tbody>
        <tfoot class="oh-payslip__table-tfoot">
          <tr class="oh-payslip__table-tr">
            <th
              class="oh-payslip__table-tf"
              title="Some deductions are not calculated to total deductions because they are deduducted before the calculation starts they deducted from basic pay, gross pay and some deduct after calculating the net pay"
            >
              Total Deductions
            </th>
            <th class="oh-payslip__table-tf">
              {{currency}}{{total_deductions|floatformat:2}}
            </th>
          </tr>
        </tfoot>
      </table>
    </div>
    <!-- End of Payslip Table -->

    <!-- Payslip Payable -->
    <div class="oh-payslip__net-payable">
      <div class="oh-payslip__net-payable-left">
        <h2 class="oh-payslip__net-payable-title">
          {% trans "Total Net Payable" %}
        </h2>
        <p class="oh-payslip__net-payable-subtext">
          {% trans "Gross Earnings - Total Deductions" %}
        </p>
      </div>
      <div class="oh-payslip__net-payable-right">
        <span class="oh-payslip__net-payable-amount"
          >{{currency}}{{net_pay|floatformat:2}}</span
        >
      </div>
    </div>
    <!-- End of Payslip Payable -->
  </div>
</div>

<!-- Time-Off Approval -->
<div
  class="oh-modal"
  id="paySlipModal"
  role="dialog"
  aria-labelledby="paySlipModal"
  aria-hidden="true"
>
  <div class="oh-modal__dialog">
    <div class="oh-modal__dialog-header">
      <button class="oh-modal__close" aria-label="Close">
        <ion-icon name="close-outline"></ion-icon>
      </button>
    </div>
    <div class="oh-modal__dialog-body px-4">
      <div class="oh-input-group">
        <input type="radio" value="0" name="type" id="type1" class="oh-input" />
        <label class="oh-label" for="type1">{% trans "Type A" %}</label>
        <input type="radio" value="0" name="type" id="type2" class="oh-input" />
        <label class="oh-label" for="type2">{% trans "Type B" %}</label>
      </div>
      <div class="oh-input-group">
        <label class="oh-label">{% trans "Type" %}</label>
        <select class="oh-select oh-select--sm oh-select-no-search w-100">
          <option selected>{% trans "Option #1" %}</option>
          <option>{% trans "Option #2" %}</option>
        </select>
      </div>
    </div>

  </div>
</div>
<div id="messageContainer"></div>
<script>
  $("#id_status").change(function (e) {
    var endDate = "{{instance.end_date|date:'Y-m-d'}}"
    var startDate = "{{instance.start_date|date:'Y-m-d'}}"
    var status = $(this).val();

    e.preventDefault();
    $.ajax({
      type: "get",
      url: "{% url 'payslip-status-update' instance.id %}",
      data: {"status":status},
      success: function (response) {
        console.log(response)
        $("#messageContainer").html($($(`
        <div class="oh-alert-container">
          <div class="oh-alert oh-alert--animated  oh-alert--${response.type}">
            ${response.message}
          </div>
        </div>`)
        ))
      }
    });
  });
</script>
{% endblock content %}
