{% load i18n static %}
{% include "generic/components.html" %}

<div hx-get="{% url 'gmeet-setting-nav' %}?{{request.GET.urlencode}}" hx-trigger="load">
</div>

<div
    class="oh-wrapper"
    hx-get="{% url 'gmeet-setting-list-view' %}?{{request.GET.urlencode}}"
    hx-trigger="load"
    id="credContainer"
>
</div>

<script>
    document.body.addEventListener("htmx:afterSwap", function (evt) {
        $(".oh-hidden-item")
            .closest("td")
            .hover(
                function () {
                    var value = $(this).find(".oh-hidden-item").data("value");
                    $(this).find(".oh-hidden-item").text(value);
                },
                function () {
                    $(this)
                        .find(".oh-hidden-item")
                        .text("********************");
                }
            );
    });

</script>
