{% extends "index.html" %} {% load static i18n %}
{% block content %}
<style>
    .resign-status {
        background: #73bbe12b;
        font-size: 0.8rem;
        padding: 4px 8px;
        border-radius: 10px;
        margin-bottom: 6px;
        font-weight: 600;
        color: #357579;
      }
</style>
{% include "offboarding/resignation/nav.html" %}
{% if letters %}
    <div id="resignationLetterContianer" hx-get="{% url 'search-resignation-request' %}?status=requested" hx-trigger="load">
        {% if request.GET.view == 'list' %}
            {% include "offboarding/resignation/request_list.html" %}
        {% else %}
            {% include "offboarding/resignation/request_cards.html" %}
        {% endif %}
    </div>
    {% else %}
    <div class="d-flex justify-content-center align-items-center" style="height: 40vh;">
        <div class="text-center">
            <img class="oh-404__image mb-3" style="width: 150px; height: 150px;" src="{% static 'images/ui/no_resignation.png' %}" alt="No documents">
            <h5 class="oh-404__subtitle">{% trans "No resignation has been created yet." %}</h5>
        </div>
    </div>
{% endif %}
{% endblock content %}
