<!-- form  non field errors  -->
{% load i18n %} {% if objective_form.errors %}
<div class="oh-wrapper">
  <div class="oh-alert-container">
    {% for error in objective_form.non_field_errors %}
    <div class="oh-alert oh-alert--animated oh-alert--danger">{{ error }}</div>
    {% endfor %}
  </div>
</div>
{% endif %}

<div class="oh-modal__dialog-header">
  <span class="oh-modal__dialog-title" id="addEmployeeObjectiveModalLabel"
    >{% trans "Update Objectives" %}</span
  >
  <button type="button" class="oh-modal__close reloadButton" aria-label="Close">
    <ion-icon name="close-outline"></ion-icon>
  </button>
</div>
<form
  hx-post="{%url 'objective-update' obj_id=objective_form.instance.id %}"
  hx-target="#ObjectiveModalFormTarget"
>
  <div class="oh-modal__dialog-body">
    {% csrf_token %}
    <div class="oh-input__group">
      <label class="oh-input__label" for="objective"
        >{% trans "Objective" %}</label
      >
      {{objective_form.objective}} {{objective_form.objective.errors}}
    </div>
    <div class="oh-input__group">
      <label class="oh-input__label" for="lastname"
        >{% trans "Objective Description" %}</label
      >
      {{objective_form.objective_description}}
      {{objective_form.objective_description.errors}}
    </div>
    <div class="row">
      <div class="col-6 col-sm-6 col-md-6 col-lg-6">
        <div class="oh-input__group">
          <label class="oh-input__label" for="start date"
            >{% trans "Start Date" %}</label
          >
          {{objective_form.start_date}} {{objective_form.start_date.errors}}
        </div>
      </div>
      <div class="col-6 col-sm-6 col-md-6 col-lg-6">
        <div class="oh-input__group">
          <label class="oh-input__label" for="end date"
            >{% trans "End Date" %}</label
          >
          {{objective_form.end_date}} {{objective_form.end_date.errors}}
        </div>
      </div>
    </div>
    <div class="oh-input__group">
      <label class="oh-input__label" for="endDate"
        >{% trans "Employee" %}</label
      >
      {{ objective_form.employee_id }} {{ objective_form.employee_id.errors }}
    </div>
  </div>
  <div class="oh-modal__dialog-footer">
    <button type="submit" class="oh-btn oh-btn--secondary oh-btn--shadow">
      {% trans "Save" %}
    </button>
  </div>
</form>
