{% extends 'index.html' %}
{% load static i18n horillafilters mathfilters basefilters attendancefilters %}
{% block content %}

<style>
	.oh-info {
		top: 2px !important;
	}

	#offlineEmployees .heightContainer {
		max-height: 300px;
	}

	#onlineEmployees .heightContainer {
		max-height: 300px;
	}
</style>

<div class="grid grid-cols-1 xl:grid-cols-3 md:grid-cols-2 gap-4 mb-4">
	<div class="bg-white p-6 rounded-md shadow-card relative">
		<div class="flex items-center gap-4">
			<div class="bg-[#1cba5121] p-3 rounded-md">
				<img
					src="{% static 'horilla_theme/assets/img/icons/attendance.svg' %}"
					width="20"
				/>
			</div>
			<div>
				<p class="text-sm">{% trans "Today's Attendances" %}</p>
				<div class="flex items-center gap-2">
					<p class="text-xl font-bold text-secondary-900">
						{{marked_attendances_ratio}}%
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="bg-white p-6 rounded-md shadow-card relative">
		<div class="flex items-center gap-4">
			<div class="bg-[#b71db01f] p-3 rounded-md">
				<img
					src="{% static 'horilla_theme/assets/img/icons/on-time.svg' %}"
					width="20"
				/>
			</div>
			<div>
				<p class="text-sm">{% trans "On Time" %}</p>
				<div class="flex items-center gap-2">
					<p class="text-xl font-bold text-secondary-900">
						{{on_time}}
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="bg-white p-6 rounded-md shadow-card relative">
		<div class="flex items-center gap-4">
			<div class="bg-[#ea7f2f2e] p-3 rounded-md">
				<img
					src="{% static 'horilla_theme/assets/img/icons/late-come.svg' %}"
					width="20"
				/>
			</div>
			<div>
				<p class="text-sm">{% trans "Late Come" %}</p>
				<div class="flex items-center gap-2">
					<p class="text-xl font-bold text-secondary-900">
						{{late_come}}
					</p>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="grid grid-cols-12 gap-4 mb-4">

	<div
		class="xl:col-span-6 md:col-span-6 col-span-12 bg-white p-6 rounded-md shadow-card"
	>
		<div class="flex justify-between items-center mb-2">
			<h3 class="text-md font-semibold">
				{% trans "Attendance To Validate" %}
			</h3>
		</div>
		<div
			class="overflow-hidden overflow-x-auto"
			hx-get="{% url 'dashboard-attendance-validate' %}"
			hx-trigger="load"
		></div>
	</div>

	<div
		class="xl:col-span-6 md:col-span-6 col-span-12 bg-white p-6 rounded-md shadow-card"
	>
		<div class="flex justify-between items-center mb-2">
			<h3 class="text-md font-semibold">
				{% trans "Overtime To Approve" %}
			</h3>
		</div>
		<div
			class="flex-col items-center justify-center"
			hx-get="{% url 'dashboard-overtime-approve' %}"
			hx-trigger="load"
		></div>
	</div>

	<div
		class="xl:col-span-4 md:col-span-6 col-span-12 bg-white p-6 rounded-md shadow-card"
	>
		<div class="flex justify-between items-center mb-2">
			<h3 class="text-md font-semibold">
				{% trans "Offline Employees" %}
			</h3>
		</div>
		<div
			class="flex-col items-center justify-center"
			hx-get="{% url 'not-in-yet' %}"
			hx-trigger="load"
		></div>
	</div>

	<div
		class="xl:col-span-4 md:col-span-6 col-span-12 bg-white p-6 rounded-md shadow-card"
	>
		<div class="flex justify-between items-center mb-4">
			<h3 class="text-md font-semibold">
				{% trans "Attendance Analytics" %}
			</h3>
		</div>

		<div class="flex gap-2 justify-between items-center mb-4">
			<select
				id="type"
				class="oh-input w-40 text-[#5e5c5c]"
				name="type"
				onchange="changeView(this)"
			>
				<option value="day">{% trans "Day" %}</option>
				<option value="weekly">{% trans "Weekly" %}</option>
				<option value="monthly">{% trans "Monthly" %}</option>
				<option value="date_range">{% trans "Date range" %}</option>
			</select>
			<input
				type="date"
				id="attendance_month"
				onchange="changeMonth()"
				class="oh-input w-40"
			/>
		</div>
		<div class="w-full">
			<div class="relative h-[300px]">
				<canvas id="dailyAnalytic"></canvas>
			</div>
		</div>
	</div>

	{% if perms.employee.view_employee or request.user|is_reportingmanager %}
		<div
			class="xl:col-span-4 md:col-span-6 col-span-12 bg-white p-6 rounded-md shadow-card"
		>
			<div class="flex justify-between items-center mb-2">
				<h3 class="text-md font-semibold">
					{% trans "Online Employees" %}
				</h3>
			</div>
			<div
				class="flex-col items-center justify-center h-[400px]"
				hx-get="{% url 'not-out-yet' %}"
				hx-trigger="load"
			></div>
		</div>
	{% endif %}

	<div
		class="xl:col-span-4 md:col-span-6 col-span-12 bg-white p-6 rounded-md shadow-card"
	>
		<div class="flex justify-between items-center mb-2">
			<h3 class="text-md font-semibold">{% trans "Hours Chart" %}</h3>
			<input
				type="month"
				class="mb-2 float-end pointer oh-input w-40"
				id="hourAccountMonth"
				onchange="dynamicMonth($(this))"
			/>
		</div>
		<div class="w-full">
			<div class="relative h-[350px]">
				<canvas id="pendingHoursCanvas"></canvas>
			</div>
		</div>
	</div>

	<div
		class="xl:col-span-4 md:col-span-6 col-span-12 bg-white p-6 rounded-md shadow-card"
		id="departmentChartCard"
	>
		<div class="flex justify-between items-center mb-4">
			<h3 class="text-md font-semibold">
				{% trans "Department Overtime Chart" %}
			</h3>
		</div>
		<div class="flex gap-2 justify-between items-center mb-4">
			<select
				id="department_date_type"
				class="oh-input w-40 text-[#5e5c5c]"
				name="type"
			>
				<option value="day">{% trans "Day" %}</option>
				<option value="weekly">{% trans "Weekly" %}</option>
				<option value="monthly">{% trans "Monthly" %}</option>
				<option value="date_range">{% trans "Date range" %}</option>
			</select>
			<span id="department_day_input">
				<input
					type="date"
					id="department_month"
					class="oh-input w-40 mr-2"
				/>
			</span>
		</div>
		<div class="w-full max-w-xs mx-auto">
			<div class="relative">
				<canvas id="departmentOverChart"></canvas>
			</div>
			<div
				id="chartLegend"
				class="mt-4 flex justify-center flex-wrap gap-3 text-xs"
			></div>
		</div>
	</div>

	<div
		class="xl:col-span-4 md:col-span-6 col-span-12 bg-white p-6 rounded-md shadow-card"
	>
		<div class="flex justify-between items-center mb-2">
			<h3 class="text-md font-semibold">{% trans "On Break" %}</h3>
		</div>
		<hr class="line mb-3" />
		<div
			class="flex-col items-center justify-center h-[400px]"
			hx-get="{% url 'on-break-employees' %}"
			hx-trigger="load"
			id="onBreakEmployeesCard"
		></div>
	</div>

</div>

<script src="{% static 'dashboard/attendanceChart.js' %}"></script>
<script>
	$(document).ready(function(){
		$("#department_date_type").val("monthly").change()
	})
</script>

{% endblock %}
