{% load static %}
{% load i18n %}

<ul class="oh-navbar__breadcrumb">
    <!-- Always show Horilla as the first item -->
    <li class="oh-navbar__breadcrumb-item">
        <a href="/" class="oh-navbar__breadcrumb-link">{% trans "Horilla" %}</a>
    </li>
    
    {% for crumb in app_breadcrumbs %}
        <li class="oh-navbar__breadcrumb-item">
            <a href="{{ crumb.url }}" class="oh-navbar__breadcrumb-link{% if crumb.active %} active{% endif %}">
                {% trans crumb.name %}
            </a>
        </li>
    {% endfor %}
</ul>
