{% load i18n %}
{% load static %}
{% load basefilters %}
{% include 'filter_tags.html' %}
<div id='ot-table'>
	<div class="oh-sticky-table">
		<div class="oh-sticky-table__table oh-table--sortable">
			<div class="oh-sticky-table__thead">
			  	<div class="oh-sticky-table__tr">
					<div class="oh-sticky-table__th" style="width:10px;">
						<div class="centered-div">
							<input type="checkbox" class="oh-input oh-input__checkbox all-hour-account" title="Select All" 
									id = "allHourAccount"/>
						</div>
					</div>
			  	  	<div class="oh-sticky-table__th" hx-get="{% url 'attendance-ot-search' %}?{{pd}}&sortby=employee_id__employee_first_name" hx-target="#ot-table">{% trans "Employee" %}</div>
			  	  	<div class="oh-sticky-table__th" hx-get="{% url 'attendance-ot-search' %}?{{pd}}&sortby=month" hx-target="#ot-table">{% trans "Month" %}</div>
			  	  	<div class="oh-sticky-table__th" hx-get="{% url 'attendance-ot-search' %}?{{pd}}&sortby=year" hx-target="#ot-table">{% trans "Year" %}</div>
			  	  	<div class="oh-sticky-table__th" hx-get="{% url 'attendance-ot-search' %}?{{pd}}&sortby=hour_account_second" hx-target="#ot-table">{% trans "Worked Hours" %}</div>
			  	  	<div class="oh-sticky-table__th">{% trans "Pending Hours" %}</div>
			  	  	<div class="oh-sticky-table__th" hx-get="{% url 'attendance-ot-search' %}?{{pd}}&sortby=overtime_second" hx-target="#ot-table">{% trans "Overtime Hours" %}</div>
			  	  	<div class="oh-sticky-table__th"></div>
			  	</div>
			</div>
			<div class="oh-sticky-table__tbody">
				{% for ot in accounts %}
					{% with dates=ot.month_days %}
					  	<div class="oh-sticky-table__tr" hx-get="{% url 'attendance-search' %}?employee_id={{ot.employee_id.id}}&attendance_validated=true&attendance_date__gte={{ dates.0|date:"Y-m-d" }}&attendance_date__lte={{ dates.1|date:"Y-m-d" }}" hx-target="#ot-table" draggable="true" onclick="hiding()">
							<div class="oh-sticky-table__sd" onclick="event.stopPropagation();">
								<div class="centered-div">
								  <input
									type="checkbox"
									id="{{ot.id}}"
									onchange="highlightRow($(this))"
									class="form-check-input all-hour-account-row"
								  />
								</div>
							  </div>
					  		<div class="oh-sticky-table__td">
					  			<div class="oh-profile oh-profile--md">
					  				<div class="oh-profile__avatar mr-1">
					  				    <img
					  				        src="{{ot.employee_id.get_avatar}}"
					  				        class="oh-profile__image"
					  				        alt=""
					  				    />
					  				</div>
					  				<span class="oh-profile__name oh-text--dark">{{ot.employee_id}}</span>
					  			</div>
					  		</div>
					  		<div class="oh-sticky-table__td">
								{% with  month=ot.month|capfirst  %}{% trans month %}{% endwith %} 
							</div>
					  		<div class="oh-sticky-table__td">{{ot.year}}</div>
					  		<div class="oh-sticky-table__td">{{ot.worked_hours}}</div>
					  		<div class="oh-sticky-table__td">{{ot.pending_hours}}</div>
					  		<div class="oh-sticky-table__td">{{ot.overtime}}</div>
					  		<div class="oh-sticky-table__td" onclick="event.stopPropagation()">
					  		  	<div class="oh-btn-group">
					  		  		{% if perms.recruitment.change_attendanceovertime or request.user|is_reportingmanager %}
					  		  			<a hx-get="{% url 'attendance-overtime-update' ot.id %}" hx-target='#updateAttendanceOTModalBody' data-toggle='oh-modal-toggle' data-target='#updateOtModal'  class="oh-btn oh-btn--light-bkg w-50" title="{% trans 'Edit' %}"><ion-icon name="create-outline"></ion-icon></a>
					  		  		{% endif %}
					  		  		{% if perms.recruitment.delete_attendance %}
					  		  			<form action="{% url 'attendance-overtime-delete' ot.id  %}" 
											onsubmit="return confirm('{% trans "Are you sure want to delete this attendance?" %}')" 
											hx-target="#ot-table" method='post' class='w-50'>
					  		  			  	{% csrf_token %}
					  		  			  	<button type='submit' class="oh-btn oh-btn--danger-outline oh-btn--light-bkg w-100"   title="{% trans 'Remove' %}"><ion-icon name="trash-outline"></ion-icon></button>
										</form>
					  		  		{% endif %}
					  		  	</div>      
					  		</div>
					  	</div>
					{% endwith %}
				{% endfor %}
			</div>
		</div>
	</div>
	<div class="oh-pagination">
	  	<span class="oh-pagination__page">
	  		{% trans "Page" %} {{ accounts.number }} {% trans "of" %} {{ accounts.paginator.num_pages }}.
	  	</span> 
	  	<nav class="oh-pagination__nav">
	  	  	<div class="oh-pagination__input-container me-3">
	  	  	  	<span class="oh-pagination__label me-1">{% trans "Page" %}</span>
	  	  	  	<input
	  	  	  	  type="number"
	  	  	  	  name="page"
	  	  	  	  class="oh-pagination__input"
	  	  	  	  value="{{accounts.number}}"
	  	  	  	  hx-get="{% url 'attendance-ot-search' %}?{{pd}}"
	  	  	  	  hx-target="#ot-table"
	  	  	  	  min="1"
	  	  	  	/>
	  	  	  	<span class="oh-pagination__label">{% trans "of" %} {{accounts.paginator.num_pages}}</span>
	  	  	</div>
	  	  	<ul class="oh-pagination__items">
	  	  		{% if accounts.has_previous %}
	  	  			<li class="oh-pagination__item oh-pagination__item--wide">
	  	  				<a hx-target='#ot-table' hx-get="{% url 'attendance-ot-search' %}?{{pd}}&page=1" class="oh-pagination__link" onclick="tickCheckboxes();">{% trans "First" %}</a>
	  	  			</li>
	  	  			<li class="oh-pagination__item oh-pagination__item--wide">
	  	  				<a hx-target='#ot-table' hx-get="{% url 'attendance-ot-search' %}?{{pd}}&page={{ accounts.previous_page_number }}" class="oh-pagination__link" onclick="tickCheckboxes();">{% trans "Previous" %}</a>
	  	  			</li>
	  	  		{% endif %}
	  	  		{% if accounts.has_next %}
	  	  			<li class="oh-pagination__item oh-pagination__item--wide">
	  	  				<a hx-target='#ot-table' hx-get="{% url 'attendance-ot-search' %}?{{pd}}&page={{ accounts.next_page_number }}" class="oh-pagination__link" onclick="tickCheckboxes();">{% trans "Next" %}</a>
	  	  			</li>
	  	  			<li class="oh-pagination__item oh-pagination__item--wide">
	  	  				<a hx-target='#ot-table' hx-get="{% url 'attendance-ot-search' %}?{{pd}}&page={{ accounts.paginator.num_pages }}" class="oh-pagination__link" onclick="tickCheckboxes();">{% trans "Last" %}</a>
	  	  			</li>
	  	  		{% endif %}
	  	  	</ul>
	  	</nav>
	</div>
</div>

{% if perms.attendance.change_attendanceovertime or request.user|is_reportingmanager %}
<div
	class="oh-modal"
	id="updateOtModal"
	role="dialog"
	aria-labelledby="updateOtModal"
	aria-hidden="true"
	>
	<div class="oh-modal__dialog">
	  	<div class="oh-modal__dialog-header">
	  	  	<h2 class="oh-modal__dialog-title" id="updateOtModalLabel">
	  	  	  	{% trans "Update Account" %}
	  	  	</h2>
	  	  	<button class="oh-modal__close" aria-label="Close" >
	  	  	  	<ion-icon name="close-outline"></ion-icon>
	  	  	</button>
	  	  	<div class="oh-modal__dialog-body p-0 pt-2" id='updateAttendanceOTModalBody'></div>
	  	</div>
	</div>
</div>
{% endif %}

<script>
  function hiding() {
    $("#selectAllInstances").hide();
    $("#unselectAllInstances").hide();
    $("#exportAccounts").hide();
    $("#selectedShow").hide();
  }

  $(document).ready(function () {
    $("#selectAllInstances").show();
    $("#unselectAllInstances").show();

    $(".all-hour-account-row").change(function () {
      addingHourAccountsIds();
      $("#selectedShow").show();
      $("#exportAccounts").show();
    });

    $(".all-hour-account").change(function () {
      addingHourAccountsIds();

      $("#selectedShow").show();
      $("#exportAccounts").show();
    });

    $("#selectAllInstances").click(function () {
      selectAllHourAcconts();
    });

    $("#unselectAllInstances").click(function () {
      unselectAllHourAcconts();
    });
  });
</script>
