{% load static i18n %}
{% if perms.asset.change_assetassignment %}
    <!-- Start of Asset Return Button -->
    <button data-toggle="oh-modal-toggle" data-target="#objectCreateModal"
        hx-get="{%url 'asset-allocate-return'  asset_id=instance.asset_id.id %}" hx-target="#objectCreateModalTarget"
        class="w-24 px-4 py-2 bg-primary-600 text-white rounded-md text-xs flex items-center justify-center gap-2 hover:bg-primary-800 transition duration-300">
        <img src="{% static 'horilla_theme/assets/img/icons/backward.svg' %}" alt="{% trans 'Return' %}" width="13"
            class="filter brightness-0 invert">
        {% trans 'Return' %}
    </button>
    <!-- End of Asset Return Button -->
{% else %}
    {% if not instance.return_request %}
        <!-- Start of Asset Return Request Form -->
         <form action="{% url 'asset-allocate-return-request' asset_id=instance.id %}"
            onsubmit="return confirm('{% trans "Are you sure you want to return this asset?" %}');">
        <button type="submit"
            class="w-24 px-4 py-2 bg-primary-600 text-white rounded-md text-xs flex items-center justify-center gap-2 hover:bg-primary-800 transition duration-300">
            <img src="{% static 'horilla_theme/assets/img/icons/backward.svg' %}" alt="{% trans 'Return' %}" width="13"
                class="filter brightness-0 invert">
            {% trans 'Return Request' %}
        </button>
    </form>
        <!-- End of Asset Return Request Form -->
    {% endif %}
{% endif %}
