{% extends "index.html" %}
{% load i18n static %}

{% block content %}
    <div class="border border-[#ebebeb] rounded-md">
        <div hx-get="{% url 'nav-period' %}" hx-trigger="load"></div>
        <p class="text-xs text-gray-500 mt-1 ml-3">
            {% trans "Configure review periods that define key result tracking timelines." %}
        </p>

        {% include "generic/components.html" %}

        <div
            class="oh-checkpoint-badge mb-2"
            id="selectedInstances"
            data-ids="[]"
            data-clicked=""
            style="display: none"
        >
        </div>

        <div class="oh-wrapper" id="listContainer">
            <div class="animated-background"></div>
        </div>
    </div>
{% endblock %}
