{% extends 'index.html' %}
{% block content %}
{% load static %}
{% load i18n %}

<section class="oh-wrapper oh-main__topbar">
    <div class="oh-main__titlebar oh-main__titlebar--left">
        <h1 class="oh-main__titlebar-title fw-bold mb-0">{% trans "Leave Types" %}</h1>
        <a class="oh-main__titlebar-search-toggle" role="button" aria-label="Toggle Search"
            @click="searchShow = !searchShow">
            <ion-icon name="search-outline" class="oh-main__titlebar-serach-icon"></ion-icon>
        </a>
    </div>
    {% if perms.leave.add_leavetype %}
        <div class="oh-main__titlebar oh-main__titlebar--right">
            <div class="oh-main__titlebar-button-container">
                <div class="oh-btn-group ml-2">
                    <form action="{% url 'type-creation' %}">
                        <button class="oh-btn oh-btn--secondary oh-btn--shadow">
                            <ion-icon name="add-outline" class="me-1"></ion-icon>
                            {% trans "Create" %}
                        </button>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}
</section>

<div class="oh-wrapper">
    <div class="oh-empty">
        <img src="{% static 'images/ui/search.svg' %}" class="oh-404__image" alt="Page not found. 404." />
        <h1 class="oh-empty__title">{% trans "No Records found." %}</h1>
        <p class="oh-empty__subtitle">{% trans "No leave types have been created yet." %}</p>
    </div>
</div>

{% endblock content %}
