{% load i18n %}
{% load basefilters %}

<div class="oh-btn-group" onclick="event.stopPropagation()">
    {% if perms.base.change_rotatingshiftassign or request.user|is_reportingmanager %}
        <a hx-get="{% url 'rotating-shift-assign-update' instance.id %}?instance_ids={{instance.ordered_ids}}"
            hx-target="#genericModalBody" hx-swap="innerHTML" data-target="#genericModal" data-toggle="oh-modal-toggle"
            type="button" class="oh-btn oh-btn--light-bkg w-100" title="{% trans 'Edit' %}">
            <ion-icon name="create-outline"></ion-icon>
        </a>
    {% endif %}
    {% if perms.base.change_rotatingshiftassign or request.user|is_reportingmanager %}
        {% if instance.is_active %}
            <a hx-confirm="{% trans 'Do you want to archive this rotating shift assign?' %}"
                hx-get="{% url 'rotating-shift-assign-archive' instance.id %}" hx-target="#rotating-shift-container"
                title="{% trans 'Archive' %}" class="oh-btn oh-btn--danger-outline oh-btn oh-btn--light-bkg w-100">
                {% comment %} <input type="hidden" name="is_active" value="{% trans 'False' %}" id=""> {% endcomment %}
                <ion-icon name="archive"></ion-icon>
            </a>
        {% else %}
            <a class="oh-btn oh-btn--danger-outline oh-btn oh-btn--light-bkg w-100" hx-confirm="{% trans 'Do you Want to un-archive this rotating shift assign?' %}" hx-get="{% url 'rotating-shift-assign-archive' instance.id %}?{{pd}}"
                hx-target="#rotating-shift-container" title="{% trans 'Un-Archive' %}">
                <ion-icon name="archive"></ion-icon>
            </a>
        {% endif %}
    {% endif %}
    {% if perms.base.delete_rotatingshiftassign or request.user|is_reportingmanager %}
        <a class="oh-btn oh-btn--danger-outline oh-btn--light-bkg w-100" hx-confirm="{% trans 'Are you sure you want to delete this rotating shift assign?' %}"
            hx-post="{% url 'rotating-shift-assign-delete' instance.id  %}" hx-target="#rotating-shift-container" title="{% trans 'Remove' %}">
            <ion-icon name="trash-outline"></ion-icon>
        </a>
    {% endif %}
</div>
