{% load i18n static %}
<style>
	tr span.txt {
		display: none;
	}
</style>

<div style="width: 100%" onclick="event.stopPropagation()">
    <form action="{% url 'update-letter-status' %}">
        {% if perms.offboarding.change_resignationletter %}
            <div class="oh-btn-group">
                {% if instance.status != "approved" %}
                <button
                    title="{% trans 'By approving the request employee will added to the offboarding pipeline' %}"
                    type="button"
                    onclick="event.stopPropagation();$(this).closest('form').find('input[name=status]').val('approved');resignLetterConfirmation('{% trans 'Do You really want to approve the request' %}?',$(this).closest('form').find('[type=submit]'),true);"
                    class="w-24 px-4 py-2 bg-primary-600 text-white rounded-md text-xs flex items-center justify-center gap-2 hover:bg-primary-800 transition duration-300"
                >
                    <img src="{% static 'horilla_theme/assets/img/icons/check.svg' %}" alt="{% trans 'Approve' %}" width="13"
                    class="filter brightness-0 invert" />
                    {% trans "Approve" %}</span>
                </button>
                {% else %}
                <button type="button" class="w-24 px-4 py-2 bg-primary-600 text-white rounded-md text-xs flex items-center justify-center gap-2 hover:bg-primary-800 transition duration-300 oh-btn--disabled">
                    <img src="{% static 'horilla_theme/assets/img/icons/check.svg' %}" alt="{% trans 'Approve' %}" width="13"
                    class="filter brightness-0 invert" />
                    {% trans "Approve" %}</span>
                </button>
                {% endif %}
                {% if instance.status == 'rejected' %}
                    <button
                        type="button"
                        class="w-24 px-4 py-2 bg-white rounded-md text-xs flex items-center justify-center gap-2 border border-primary-500 hover:border-primary-600 transition duration-300 oh-btn--disabled"
                        disabled
                    >
                        <img src="{% static 'horilla_theme/assets/img/icons/close-circle-icon-original.svg' %}" alt="{% trans 'Reject' %}" width="13"
                        class="mt-[-1px]" />
                        {% trans "Reject" %}</span>
                    </button>
                {% else %}
                    <button
                        type="button"
                        onclick="event.stopPropagation();$(this).closest('form').find('input[name=status]').val('rejected');resignLetterConfirmation('{% trans 'Do You really want to reject the request?' %}',$(this).closest('form').find('[type=submit]'));"
                        class="w-24 px-4 py-2 bg-white rounded-md text-xs flex items-center justify-center gap-2 border border-primary-500 hover:border-primary-600 transition duration-300"
                    >
                        <img src="{% static 'horilla_theme/assets/img/icons/close-circle-icon-original.svg' %}" alt="{% trans 'Reject' %}" width="13"
                        class="mt-[-1px]" />
                        {% trans "Reject" %}</span>
                    </button>
                {% endif %}
            </div>
            <input type="hidden" name="status" />
            <input type="hidden" name="letter_ids" value="{{instance.id}}" />
            <input type="hidden" name="offboarding_id" />
            <input
                type="hidden"
                name="notice_period_starts"
                value="{% now 'Y-m-d' %}"
                id="notice_period_starts{{instance.id}}"
            />
            <input
                type="hidden"
                name="notice_period_ends"
                id="notice_period_ends{{instance.id}}"
            />
            <button type="submit" hidden></button>
        {% endif %}
        <input type="submit" hidden="" id="requestCard1Button" />
    </form>
</div>
