{% load i18n %}
<div class="block lg:grid grid-cols-6 gap-3">
	<div class="col-span-3 mb-3 lg:mb-0">
		<div class="border border-dark-50 rounded-md p-3 h-full">
			<h5 class="mb-1 font-medium text-sm">
				{% trans 'Personal Information' %}
			</h5>
			<div class="mb-2">
				<span class="font-medium text-xs text-[#565E6C]"
					>{% trans 'Date of birth' %}</span
				>
				<p class="text-xs font-semibold">
					{{ candidate.dob|date:'SHORT_DATE_FORMAT'|default:'None' }}
				</p>
			</div>
			<div class="mb-2">
				<span class="font-medium text-xs text-[#565E6C]"
					>{% trans 'Address' %}</span
				>
				<p class="text-xs font-semibold">
					{{ candidate.address|default:_('None') }}
				</p>
			</div>
			<div class="mb-2">
				<span class="font-medium text-xs text-[#565E6C]"
					>{% trans 'Country' %}</span
				>
				<p class="text-xs font-semibold">
					{{ candidate.country|default:_('None') }}
				</p>
			</div>
			<div class="mb-2">
				<span class="font-medium text-xs text-[#565E6C]"
					>{% trans 'State' %}</span
				>
				<p class="text-xs font-semibold">
					{{ candidate.state|default:_('None') }}
				</p>
			</div>
			<div class="mb-2">
				<span class="font-medium text-xs text-[#565E6C]"
					>{% trans 'City' %}</span
				>
				<p class="text-xs font-semibold">
					{{ candidate.city|default:_('None') }}
				</p>
			</div>
		</div>
	</div>
	<div class="col-span-3 mb-3 lg:mb-0">
		<div class="border border-dark-50 rounded-md p-3 h-full">
			<h5 class="mb-1 font-medium text-sm">
				{% trans 'Recruitment Information' %}
			</h5>
			<div class="mb-2">
				<span class="font-medium text-xs text-[#565E6C]"
					>{% trans 'Recruitment' %}</span
				>
				<p class="text-xs font-semibold">
					{{ candidate.stage_id.recruitment_id|default:'None' }}
				</p>
			</div>
			<div class="mb-2">
				<span class="font-medium text-xs text-[#565E6C]"
					>{% trans 'Applied Position' %}</span
				>
				<p class="text-xs font-semibold">
					{{ candidate.job_position_id|default:_('None') }}
				</p>
			</div>
			<div class="mb-2">
				<span class="font-medium text-xs text-[#565E6C]"
					>{% trans 'Current Stage' %}</span
				>
				<p class="text-xs font-semibold">
					{{ candidate.stage_id|default:_('None') }}
				</p>
			</div>
			<div class="mb-2">
				<span class="font-medium text-xs text-[#565E6C]"
					>{% trans 'Offer Letter Status' %}</span
				>
				<p class="text-xs font-semibold">
					{{ candidate.get_offer_letter_status_display|default:_('None') }}
				</p>
			</div>
			<div class="mb-2">
				<span class="font-medium text-xs text-[#565E6C]"
					>{% trans 'Is Hired' %}?</span
				>
				<p class="text-xs font-semibold">
					{% if candidate.is_hired %} Yes {% else %} No {% endif %}
				</p>
			</div>
		</div>
	</div>
</div>
