{% extends "settings.html" %}
{% block settings %}
{% load i18n %}
{% csrf_token %}
<div class="oh-inner-sidebar-content__header mt-4">
    <h2 class="oh-inner-sidebar-content__title">{% trans 'Candidate Self Tracking' %}</h2>
</div>
<div class="row d-flex" >
        <div class="oh-label__info" for="application_tracking">
            <label class="oh-label" for="application_tracking">{% trans "Application Tracking" %}</label>
            <span class="oh-info mr-2" title="{% trans "By enabling the feature candidates can track their recruitment progress" %}">
            </span>
            <div class="oh-switch p-3">
                <input type="checkbox" class="oh-switch__checkbox" name="candidate_self_tracking" onchange="selfTrack($(this))" {% if check_candidate_self_tracking %} checked {% endif %} />
            </div>
        </div>

        <div class="oh-label__info" for="rating_visiblity">
            <label class="oh-label" for="rating_visiblity">{% trans "Rating Visiblity" %}</label>
            <span class="oh-info mr-2" title="{% trans "By enabling the feature candidates can view their recruitment overall rating" %}">
            </span>
            <div class="oh-switch p-3">
                <input type="checkbox" class="oh-switch__checkbox" name="candidate_self_tracking" onchange="ratingVisibility($(this))" {% if check_candidate_self_tracking_rating %} checked {% endif %} />
            </div>
          </div>

</div>
<div class="oh-inner-sidebar-content__footer"></div>
<button id="selfTrackButton" hx-get="{% url 'candidate-self-tracking' %}" hx-target="#reloadMessages" hidden>
</button>
<button id="ratingButton" hx-get="{% url 'candidate-self-tracking-rating-option' %}" hx-target="#reloadMessages" hidden>
</button>

<script>
    function selfTrack(element){
        var value = $(element).is(':checked')
        $('#selfTrackButton').attr('hx-vals', `{"candidate_self_tracking":${value}}`);
        $('#selfTrackButton').click()
    }
    function ratingVisibility(element){
        var value = $(element).is(':checked')
        $('#ratingButton').attr('hx-vals', `{"candidate_self_tracking":${value}}`);
        $('#ratingButton').click()
    }
</script>
{% endblock settings %}
