{% load i18n %}
<style>
    table.import {
        width: 100%;
        border-collapse: collapse;
    }

    table.import th,
    table.import td {
        padding: 8px;
        border: 1px solid #cdd5df;
        text-align: left;
    }

    table.import th {
        background-color: #f2f2f2;
    }
</style>
<table class="table import">
    <tr>
        <th>{% trans "Status" %}</th>
        <th>{% trans "Imported" %}</th>
        <th>{% trans "Updated" %}</th>
    </tr>
    <tr>
        <td>{{ status }}</td>
        <td>{{ imported }}</td>
        <td>{{ updated }}</td>
    </tr>
</table>
{% if traceback_message %}
    <h6 class="mt-2">{{ error_message }}</h6>

    <button id="toggleErrorBtn" class="toggle-button" onclick="$(this).next().toggleClass('d-none')">
        {% trans 'Show Error Details' %}
    </button>

    <div id="errorDetails" class="error-details d-none">
        <pre style="white-space: pre-wrap">{{ traceback_message }}</pre>
    </div>

    <style>
        .toggle-button {
            margin-top: 5px;
            padding: 8px 12px;
            border: none;
            background-color: #eee;
            font-size: 14px;
            cursor: pointer;
        }

        .toggle-button:hover {
            background-color: #ddd;
        }

        .error-details {
            margin-top: 10px;
            padding: 10px;
            border: 1px solid #f5c6cb;
            border-radius: 4px;
            background: #f8d7da;
            color: #721c24;
            font-family: monospace;
        }
    </style>
{% endif %}
<div class="modal-footer d-flex flex-row-reverse">
    <input
        type="button"
        onclick="$('#{{ view_id }} .reload-record').click()"
        class="oh-btn oh-btn--small oh-btn--success w-100 mr-1 mt-2"
        value="Refresh"
    >
</div>
