name: Trigger GitLab Sync

on:
  push:
    branches:
      - main        # triggers on any push to main
  workflow_dispatch: 

jobs:
  call-sync:
    uses: wireappsltd/GitHub-Backup-Failover/.github/workflows/gitlab.yml@main
    secrets: inherit
